[2017-11-06 13:54] smokingwheels opened #2 "We all need a place to come together and share lists. No Rush."
The tests we perform as individuals with out knowing what lists a Pi-hole user has on a blocklist or whitelist and weather they want to make it Public?

I test my lists locally first with what I have been able to find and run a Yacy Search Engine to crawl a site to depth of 6.

I had a Google blackout. see  [https://discourse.pi-hole.net/t/do-we-need-a-developer-blocklist-for-individuals-who-maint

[2017-11-06 16:46] anudeepND commented on #2
@smokingwheels I agree with you. I'm waiting for [this](https://discourse.pi-hole.net/t/subscribe-to-user-maintained-whitelists-and-whitelist-from-a-file/3327/9) feature request to be implemented.
And what makes me sad is that some users block legit domains and they blame Pi-Hole software for the problem. Currently `whitelist.txt` is the best way to avoid these. And I will be updating it regularly

[2017-11-09 00:05] smokingwheels commented on #2
The whitelists.  I have a QB64 program for each of my blocklists that unlists some domains if a user lets me know or ones that I find around the place or domains I have found myself.
I think it is better because I don't end up with over 250 on the whitelist in the Pi-Hole.

You can open your file look at each line and test the contents with lots of these and skip the output if it is listed.
IF RIG

[2017-11-10 08:20] anudeepND commented on #2
Your [feature request](https://discourse.pi-hole.net/t/do-we-need-a-developer-blocklist-for-individuals-who-maintain-lists/5381) looks promising. However I haven't used Yacy search engine before, I will look into it...

[2017-11-20 02:55] #2 closed

[2018-01-27 16:49] nikmanzotti opened #3 "Additional domains suggestions"
Hi there!

I've used your whitelist as a starting point to be customized, thanks for it!

I've found those additions as quite useful in my environment (generic services, MS Office 365 related domains, plugins and cdns used by many websites), maybe they are useful also to others.

Thanks!
Nicolò

google.com
yahoo.com
microsoft.com
skype.com
uservoice.com
linkedin.com
reddit.com
vimeo.com
youtube.co

[2018-01-29 05:56] anudeepND commented on #3
@nikmanzotti Thanks for the feedback, it's not a good idea to add openx.net and Google analytics to default white-list file. I will add them in another file called `optional-list`

[2018-02-02 04:26] #3 closed

[2018-02-22 01:19] sml156 opened #6 "Your curl command"
First off thanks for giving me the idea to store my White List for Pihole on GitHub.

I copy pasted your curl command into my GitHub page and it did not work as I expected. I expected it to overwrite my old whitelist.txt file

What it actually did was append the list to my old list and doubled the size with the same info I had before.

In your curl command at the end is " >> /etc/pihole/whitelist.

[2018-02-22 18:24] anudeepND commented on #6
Thanks for the interest @sml156, I have updated the repo, please take a look at README.

[2018-02-23 01:59] #6 closed

[2018-03-22 02:53] Syer10 opened #9 "Some Suggestions"
https://discourse.pi-hole.net/t/commonly-whitelisted-domains/212

[2018-03-22 03:53] anudeepND commented on #9
Most of those domains are already in this list

[2018-03-22 20:38] Syer10 commented on #9
Ok

[2018-03-22 20:38] #9 closed

[2018-03-24 16:02] beerisgood opened #10 "Add company to lists like in optional-list.txt"
In optional-list.txt you add the site company and that give a much better overview then in referral-sites.txt & whitelist.txt.

It would be nice if you can create the lists in the better format so we know which sites are for that domain

[2018-03-25 07:54] anudeepND commented on #10
@beerisgood take a look at this [PR](https://github.com/anudeepND/whitelist/pull/11)

[2018-03-25 09:25] #10 closed

[2018-04-05 13:32] cusco opened #13 "more domains, trying to contribute"
Hello.

I'm not using your list. I googled for known pihole whitelists and reddit with your link came on top.

I've been running pihole for about 6 months now, with lots of black lists. We have about 100 people everyday on workstations using pihole's dns.

Time to time I need to whitelist something.
I noticed my whitelist file is getting rather large, thus went googling for some trusted whitelist

[2018-04-06 13:50] anudeepND commented on #13
Thanks for the list @cusco, I will review it and add necessary domains to whitelist.

[2018-04-06 15:25] Freekers commented on #13
@anudeepND I already verified them (and removed some), but feel free to look at them again :) Merge-request incoming.

[2018-04-06 15:50] anudeepND commented on #13
@cusco I have updated the list. Also i would like to mention that most of the domains are already included in the `whitelist.txt`

[2018-04-06 15:50] #13 closed

[2018-04-07 22:22] Freekers opened #15 "Adf.ly listed in whitelist"
Hi!

Adf.ly and www.adf.ly are listed in the whitelist. Shouldn't these two be listed in the optional-list.txt instead?

Thank you!

[2018-04-08 03:01] anudeepND commented on #15
@Freekers Done!

[2018-04-08 14:25] #15 closed

[2018-04-25 11:02] Freekers opened #16 "(Re)moving domains (to other lists) doesn't remove them from Pi-hole's whitelist"
In commit 6f2a16c you moved some domains to another list, but the current bash-script doesn't remove these domains from Pi-hole.

I know this is hard to implement but I think this is something to take into account when adding/removing domains ;)

Kind regards.

[2018-04-25 17:32] anudeepND commented on #16
Most of the domains are moved to another list due to Facebook scandal (except link shorteners).
By the way do you have any other whitelisted domains other than this list?

[2018-04-29 19:09] Freekers commented on #16
Thanks for your reply.
I only use your whitelist.txt and my personal whitelist.txt in my fork of your repo.

[2018-04-30 02:31] evansan opened #17 ""g.alicdn.com" is necessary for Alibaba websites"

[2018-04-30 08:26] anudeepND commented on #17
@evansan take a look at https://gist.github.com/oott123/4d77c4b81939a8bfb561
It's a tracking domain
I think it's not suitable to include it in default whitelist file

[2018-04-30 17:34] Freekers commented on #16
True 👍

[2018-04-30 17:35] #16 closed

[2018-05-08 01:50] PurpleHullPeas opened #18 "Bing Maps Platform / Virtual Earth"
I had to whitelist dev.virtualearth.net in order to select a store location on costco.com. It appears to be related to Bing maps. I found it blocked in the WIndowsSpyBlocker list along with a few other Virtual Earth domains that may need to be unblocked as well.

dev.virtualearth.net
ecn.dev.virtualearth.net
t0.ssl.ak.dynamic.tiles.virtualearth.net
t0.ssl.ak.tiles.virtualearth.net

[2018-05-08 06:58] anudeepND commented on #18
@PurpleHullPeas Thanks for reporting. All 4 domains are added to list

[2018-05-08 06:58] #18 closed

[2018-05-10 22:28] PurpleHullPeas opened #19 "Facebook Content Delivery Network"
I had to whitelist this domain in order to download a pdf attachment from Facebook messenger.
cdn.fbsbx.com

Initial Googling of the domain screams "virus," but I'm not so sure that's the case.

[2018-05-11 02:11] anudeepND commented on #19
This domain is related to Facebook, can I know in which adlist it's been included?

[2018-05-11 03:09] anudeepND commented on #19
Since it's a Facebook domain, it will not be included in `whitelist.txt` instead it will be in `optional-list.txt`.
Thanks for reporting!

[2018-05-11 19:48] #19 closed

[2018-07-05 21:57] MainFighter opened #22 "Blocking GTAOnline Telemetry crashes the game"
Blocking this domain seems to be crashing GTAOnline on **PC** since March, unblocking the domain fixed it for people at [GTAForums](https://gtaforums.com/topic/907162-crashing-after-new-updates/) and my mates plus myself.

`prod.telemetry.ros.rockstargames.com`

It is in [NoTrack](https://raw.githubusercontent.com/quidsup/notrack/master/trackers.txt) from https://firebog.net/.

[2018-07-06 06:01] anudeepND commented on #22
@MainFighter Thanks for the info. I have included it in the `optional-list.txt`

[2018-07-06 06:01] #22 closed

[2018-07-30 02:43] kyle95wm opened #24 "Fix "blocked" search suggestions on YouTube"
When typing into YouTube, search suggestions usually pop up as you're typing. Unfortunately, a lot of block lists (two of them from Wally's site actually) has

In the list. While I'm sure there is more to this domain, one of its functions is search suggestions. Feel free to add this one to the optional lists (or global ones) if you wish.

[2018-07-30 11:20] anudeepND commented on #24
Thanks @kyle95wm Its is now added to default `whitelist.txt`

[2018-07-30 11:20] #24 closed

[2018-07-30 19:12] TRaSH- opened #25 "secure.avangate.com is been blocked but needed for secure payments"
pihole -q secure.avangate.com
 Match found in Whitelist (_Added it manually now because needed to do payment_)
   secure.avangate.com
 Match found in list.49.tspprs.com.domains:
   secure.avangate.com

I think i got this block list from
https://github.com/StevenBlack/hosts

[2018-07-31 02:13] anudeepND commented on #25
Thanks @TRaSH- It is now added to `whitelist.txt`

[2018-07-31 02:13] #25 closed

[2018-08-04 10:54] Xelosy opened #26 "Help update"
do i have to update the list to download the git every time or is it enough to just run the whitelist.sh?

[2018-08-06 07:04] mc9662 opened #27 "Synology.com"
Hi, please can you add www.synology.com to the whitelist - needed for Synology NAS

Match found in https://v.firebog.net/hosts/Airelle-trc.txt:
www.synology.com

Thanks

Matt

PS Love your work - appreciated

[2018-08-06 17:07] anudeepND commented on #27
@mc9662 Thanks for reporting. Glad to know that you like this project :)
This doamin is now added to `whitelist.txt`

[2018-08-07 07:53] #27 closed

[2018-08-08 20:20] Gusher123 opened #28 "https://hosts-file.net blocked by https://adblock.mahakala.is"
$ pihole -q hosts-file.net
 Match found in list.18.adblock.mahakala.is.domains:
   hosts-file.net

[2018-08-11 18:02] anudeepND commented on #28
@Gusher123 Thanks, it's now added

[2018-08-11 18:05] #28 closed

[2018-08-18 11:43] rlex opened #29 "instantmessaging-pa.googleapis.com"
Found in some android tracking blocklists, it's also google allo/hangouts endpoint: https://github.com/avaidyam/Parrot/wiki/Allo-Endpoints

[2018-08-18 12:24] mc9662 opened #30 "https://www.ucas.com/"
Hi @anudeepND

https://www.ucas.com/ is the UK University application website, and track.ucas.com is the section for students to follow their application.

It matches the regex.list entry ^track(ers?|ing)?[0-9]*[-.] by https://github.com/mmotti/pihole-regex that I've implemented.
Thanks
Matt

[2018-08-19 04:46] anudeepND commented on #29
Thanks @rlex It is now included in `whitelist.txt`

[2018-08-19 04:46] #29 closed

[2018-08-19 04:47] anudeepND commented on #30
@mc9662 Thanks for the info and your regex list, been using it for a while. So far so good :)

[2018-08-19 04:47] #30 closed

[2018-08-19 09:07] kyle95wm opened #33 "Facebook Messenger fix"
Can edge-mqtt.facebook.com be added to the whitelist? If this domain is blocked, Messenger will act up, and refuse to connect.

[2018-08-19 15:42] shadowscott opened #34 "Domains still blocked after whitelisting"
Ran through the referrals.txt whitelist and some are still blocked. Found out that I needed to add www. in front of the domain that was blocked. In addition, found that cj.dotomi.com was another domain that Slickdeals linked to. Forked the text file and added changes. Let me know if you can't see them.

[2018-08-19 16:09] anudeepND commented on #33
@kyle95wm It is now added to `optional-list.txt`

[2018-08-19 16:09] #33 closed

[2018-08-20 02:29] kyle95wm commented on #34
Tbh I think it would be a good idea to add (www) to all domains in the other list(s) to be on the safe side.

[2018-08-20 06:30] anudeepND commented on #34
It does have domains with `www` for example,
[code]

My goal is to keep the less number of domains in default list. Not to mention, if a legit site is blocked with `www`, I will add it to the list

[2018-08-21 12:09] rlex opened #36 "ocsp.apple.com"
Found in https://reddestdream.github.io/Projects/MinimalHosts/etc/MinimalHostsBlocker/minimalhosts (on first block of v.firebog.net)

This is not tracking, but https://en.wikipedia.org/wiki/Online_Certificate_Status_Protocol server

[2018-08-21 12:59] anudeepND commented on #36
@rlex Thanks for the information. There is already `oscp.apple.com` present in `whitelist.txt`. Are `oscp.apple.com` and `ocsp.apple.com` different domains?

[2018-08-21 13:05] rlex commented on #36
That's weird. I saw ocsp (not oscp) in blocked domains, now it just doesn't resolve to anything. I do not have access my home notebook right now, so i'll verify it a bit later.

[2018-08-21 15:39] anudeepND commented on #36
I think the domain `ocsp.apple.com` is a legit one, because
`ping oscp.apple.com` yields an error
`ping: oscp.apple.com: Name or service not known`

But `ping ocsp.apple.com` resolves to
`sgsin3-vip-bx-001.aaplimg.com`

I don't have any Apple devices so can you please verify?

[2018-08-21 15:44] rlex commented on #36
Yeah, i was thinking same way. Here is entry from pihole:
<img width="462" alt="screen shot 2018-08-21 at 6 41 18 pm" src="https://user-images.githubusercontent.com/84462/44412567-eb28b080-a571-11e8-8aeb-3d8a9834713a.png">

wasn't able to find oscp.apple.com in any sources, apart from couple of reddit threads.

[2018-08-22 06:02] anudeepND commented on #36
@rlex I added `ocsp.apple.com` and removed `oscp.apple.com`

[2018-08-22 06:02] #36 closed

[2018-08-31 01:44] Technetium1 opened #39 "Snapchat"
`cf-st.sc-cdn.net` should be whitelisted, since it is required for Snapchat stories and picture embeds to load.

[2018-08-31 10:14] anudeepND commented on #39
Is it blocked by default adlsits?

[2018-08-31 18:54] Technetium1 commented on #39
Oops seems that it isn't.

[2018-08-31 18:54] #39 closed

[2018-09-01 11:23] mc9662 opened #40 "bethesda.net"
bethesda.net is incorrectly blocked on this list
Match found in https://raw.githubusercontent.com/CHEF-KOCH/Canvas-fingerprinting-pages/master/Canvas.txt:

Bethesda is a legit gaming company - https://en.wikipedia.org/wiki/Bethesda_Softworks

I think that beth**se**da.net is the domain that should be blocked instead (s and e transposed)?

Thanks

Matt

[2018-09-01 12:39] anudeepND commented on #40
@mc9662 Thanks for pointing it out. I have filed an [issue](https://github.com/CHEF-KOCH/Canvas-fingerprinting-pages/issues/2). If he did not take any action, I will add this domain to whitelist.txt

[2018-09-05 13:19] anudeepND commented on #40
@mc9662 The owner if that repo didn't respond to my issue, by the way that host file has not been updated in a year. I would not recommend using it because most of the domains will bw included in other host files.

[2018-09-07 05:46] saadbruno opened #41 "archive.org"
archive.org and web.archive.org are both blocked by the tspprs list. So it would be nice to have on the whitelist script

[2018-09-07 12:37] anudeepND commented on #41
@saadbruno I have contacted the maintainer of that host file over reddit, he will be removing it in the next release

[2018-09-07 15:58] miguelpinheiro opened #43 "edge-mqtt.facebook.com"
This domain interferes with the facebook messenger app, at least on the iPhone.

[2018-09-07 20:55] kyle95wm commented on #43
#33

[2018-09-08 01:52] anudeepND commented on #43
@miguelpinheiro `edge-mqtt.facebook.com` is already in the `optional-list.txt` you have to add it manually to your Pi-hole

[2018-09-08 17:35] #43 closed

[2018-09-08 17:35] anudeepND commented on #41
I will be closing this since it's been removed from the list and these domains are not present in other lists

[2018-09-08 17:35] #41 closed

[2018-09-08 17:36] #40 closed

[2018-09-14 00:53] PurpleHullPeas opened #44 "Samsung Smart TV Prime Video"
https://www.reddit.com/r/pihole/comments/9fmudp/getting_prime_video_to_work_with_samsung_smart_tv/

According to that Reddit post, the following URL needs to be whitelisted for Samsung TV's Amazon Prime Video app.
time.samsungcloudsolution.com

[2018-09-14 07:47] anudeepND commented on #44
@PurpleHullPeas Thanks :)

[2018-09-14 07:47] #44 closed

[2018-09-14 19:25] rlex opened #45 "ota-downloads.nvidia.com"
Hello, requesting addition:
[code]
Without it, nvidia shield tv (and probably other nvidia devices) can't download updates.

[2018-09-15 02:28] anudeepND commented on #45
@rlex where does this domain come from? In which adlist it is present?

[2018-09-15 10:57] rlex commented on #45
https://github.com/CHEF-KOCH/CKs-FilterList/raw/master/Ad%20%26%20Tracker/CK's-Ad%20%26%20Tracker-FilterList.txt

[2018-09-15 15:12] anudeepND commented on #45
@rlex I have added it to `optional-list.txt`. Also I have created an issue on CHEF-KOCH's repo. Thanks for reporting.

[2018-09-15 15:29] CHEF-KOCH commented on #45
`ota-downloads.nvidia.com` is also used to fingerprint you, places a cookie on your PC and that's the reason why it is blocked in my list(s).

[2018-09-15 15:52] PurpleHullPeas opened #46 "Adult Swim Videos"
I had to whitelist the following domain in order to watch videos on the Amazon Firestick Adult Swim app:
amd.cdn.turner.com

It is blocked in one of the default pi-hole lists:
https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts

[2018-09-15 18:01] anudeepND commented on #45
@CHEF-KOCH Thanks for the information. Closing...

[2018-09-15 18:01] #45 closed

[2018-09-15 20:01] PurpleHullPeas commented on #46
@anudeepND Good catch. The one domain I mentioned was the only one required to make the videos play on the FireTV app, but when I went to the desktop site adultswim.com, it was completely scrambled/broken. Adding the following made the desktop site work:

pmd.cdn.turner.com
i.cdn.turner.com
s.cdn.turner.com
z.cdn.turner.com

Some thumbnails are still blank, but other than that, it functions.

[2018-09-15 20:07] lightswitch05 commented on #46
Just to be clear, some of those domains are very clearly for ads:

[code]

[2018-09-15 20:10] lightswitch05 commented on #46
And it looks like the domain that the website needs the most is `z.cdn.turner.com` - which is the majority of the ad content.

[2018-09-15 20:28] PurpleHullPeas commented on #46
When I get back home I can look into it more to see if adultswim.com works without the i and z domains. The domain in the OP was all that was required for videos in the FireTV app to work, but the video thumbnails were still broken.

[2018-09-15 21:09] lightswitch05 opened #47 "Blocking feeds.feedburner.com breaks some podcasts"
Hello,

I noticed today that one of my podcasts has not been updated in some time. Looking into it more it seems that it was unable to contact the server. After whitelisting `feeds.feedburner.com`, the podcast was able to update again. Perhaps this is a false positive?

[2018-09-16 02:28] anudeepND commented on #47
@lightswitch05 Good catch, I think it's a false positive. This is what the feedBurner description says:
`
FeedBurner is a web feed management provider launched in 2004. FeedBurner provides custom RSS feeds and management tools to bloggers, podcasters, and other web-based content publishers.
`

[2018-09-16 05:02] PurpleHullPeas commented on #46
adultswim.com ends up looking pretty broken with both z.cdn.turner.com and i.cdn.turner.com blocked. It looks like this may be another case of the ads being served from the same domain as the content - in which case they probably belong in optional-list.txt.

[2018-09-17 06:05] #47 closed

[2018-09-17 06:10] #46 closed

[2018-09-26 15:43] lightswitch05 commented on #46
I've been thinking about this, and it looks like subdomains of 'cdn.tuner.com' is too aggressive. I'm going to move it to my aggressive list

[2018-10-02 10:54] Therion87 opened #49 "Misspelled URL"
xkms.xbolive.com should be xkms.xboxlive.com

[2018-10-02 11:27] anudeepND commented on #49
@Therion87 Thanks

[2018-10-02 11:27] #49 closed

[2018-10-05 06:06] pe0mot opened #51 "static.chartbeat.com for www.nos.nl"
HI
To see video's on news site www.nos.nl we need static.chartbeat.com as whitelisted.

Thanks for the good work!
Jack

[2018-10-05 16:21] anudeepND commented on #51
@pe0mot are you sure that `static.chartbeat.com`? Because I was able to play the video with `static.chartbeat.com` blocked. I was able to play all the videos in [this](https://nos.nl/artikel/2253494-kabinet-gaat-dividendbelasting-heroverwegen.html) page.

[2018-10-06 06:42] pe0mot commented on #51
Yep, you are right. Forget this issue.
Firefox is behaving with it's own free will.
On this moment testing tot see what's the cause.

[2018-10-06 08:40] #51 closed

[2018-10-20 10:18] tonyrulez opened #54 "ae01.alicdn.com"
The above domain is responsible for all the images on aliexpress.com. Before whitelisting it, I couldn't see any image, after that all image appeared.

[2018-10-21 21:54] pahakalle commented on #54
Is the domain img.alicdn.com used anywhere?

[2018-10-22 05:36] anudeepND commented on #54
@tonyrulez Can confirm. `ae01.alicdn.com` is responsible for product images. But it's not blocked in default blacklist. Can you please mention the host files you are using?

[2018-10-22 06:37] tonyrulez commented on #54
No, I can't find img.alicdn.com used on any page.

There was a question but got deleted: "But it's not blocked in default blacklist. Can you please mention the host files you are using?"
Anyway, the answer is that I have 41 blocklists in use but can't find ae01.alicdn.com in any of them. Maybe they found the problem and pulled it from the list. But I'm sure I didn't block it manually (haven't bloc

[2018-10-23 13:06] anudeepND commented on #54
@tonyrulez I will look into it. Thanks for reporting

[2018-11-01 14:54] mc9662 opened #56 "res.cloudinary.com"
The site res.cloudinary.com is used for image distribution.  It is blocked by the following on my PiHole

Exact matches for res.cloudinary.com found in:
   https://adblock.mahakala.is
   https://hostsfile.mine.nu/hosts0.txt
   https://tspprs.com/dl/cl1
   https://tspprs.com/dl/phishing

White-listing it allowed for the images on (in my case) bookings.gatwickairport.com to be shown correctly.  Plea

[2018-11-01 21:16] kyle95wm commented on #54
@anudeepND it's in this list:

https://hostsfile.org/Downloads/hosts.txt

[2018-11-02 08:03] anudeepND commented on #56
@mc9662 Thanks for bringing it my notice. It is now added

[2018-11-02 08:03] #56 closed

[2018-11-02 08:07] anudeepND commented on #54
@kyle95wm Good find, @tonyrulez Thanks for reporting. Closing...

[2018-11-02 08:07] #54 closed

[2018-11-06 17:28] lightswitch05 opened #59 "Consider adding fontawesome.com hosts to the whitelist"
Hello,

Would you consider adding `pro.fontawesome.com` and `use.fontawesome.com` to your whitelist? I have issues with them being blocked at https://github.com/jawz101/MobileAdTrackers/issues/5

[2018-11-08 06:04] anudeepND commented on #59
Sorry for the late response. Domains are now added to the list

[2018-11-08 06:04] #59 closed

[2018-11-08 11:12] lightswitch05 commented on #59
Thanks!

[2018-11-08 22:36] TheBoef opened #61 "referral site www.cashbackxl.nl"
`tradetracker.net` is used by the referal site https://www.cashbackxl.nl/

[2018-11-26 04:43] QuiGonLeong opened #63 "edgekey.net"
This domain is for the Akamai CDN.

[2018-11-26 18:26] derekpurdy opened #64 "raven.js"
Airthings Dashboard for the Wave Radon detector appears to require https://cdn.ravenjs.com, it was blocked by some common lists.

[2018-11-27 17:43] anudeepND commented on #63
@QuiGonLeong It's not present in the default adlist, which host files are you using?

[2018-11-27 19:05] QuiGonLeong commented on #63
Match found in https://v.firebog.net/hosts/static/w3kbl.txt:
   wildcard.moatads.com.edgekey.net
 Match found in https://v.firebog.net/hosts/AdguardDNS.txt:
   moatads.com.edgekey.net
   analytics.edgekey.net
 Match found in
https://raw.githubusercontent.com/anudeepND/blacklist/master/adservers.txt:
   ma1310-r.analytics.edgekey.net
   ma312-r.analytics.edgekey.net
 Match found in https://hosts-fi

[2018-11-28 03:45] anudeepND commented on #63
@QuiGonLeong These domains appear to be tracking domains, I will add `edgekey.net` if it is present in any host file.

[2018-11-28 03:45] #63 closed

[2018-11-28 03:48] anudeepND commented on #64
@derekpurdy Take a look at @lightswitch05 reply in #65

[2018-11-28 03:48] #64 closed

[2018-11-28 04:49] derekpurdy commented on #64
Thanks for the response, i'll just manually add it.

[2018-11-29 13:24] Melantrix opened #66 "gawk -i inplace '!a[$0]++' /etc/pihole/whitelist.txt not working on CentOS 7"
I just tried running your script on a fresh CentOS 7 OS. This fails (or does not run de deduplication part of the script) because gawk is an old version on CentOS (and is not updated yet in the repositories). this means that `gawk -i inplace '!a[$0]++' /etc/pihole/whitelist.txt` will not run or work.

I have figured out that running `awk '!seen[$0]++' /etc/pihole/whitelist.txt` does work however.

[2018-11-30 16:06] anudeepND commented on #66
@Melantrix Thanks for bringing it to notice. It does need some testing on other ditros.

[2018-12-01 01:31] jawz101 commented on #59
hey lightswitch & anudeep - I went ahead and removed those 2 from my list shorty after the issue came up.  Sorry for my earlier griping @lightswitch05 https://github.com/jawz101/MobileAdTrackers

[2018-12-01 02:53] lightswitch05 commented on #59
Thanks for the update @jawz101- I’ve been known to get moody over my list as well 😆

[2018-12-25 03:41] anudeepND commented on #66
@Melantrix This issue is resolved in the latest version. Closing

[2018-12-25 03:41] #66 closed

[2019-01-07 01:42] xxcriticxx opened #69 "netflix domains"
the following domains are needed for netflix to working correctly

can you please add this to `optional-list.txt`

`api-global.netflix.com`
`ichnaea.netflix.com`
`appboot.netflix.com`
`secure.netflix.com`

[2019-01-07 16:23] ChriKn opened #71 "Mydealz.de uses partners.webmasterplan.com"
Adding partners.webmasterplan.com to the whitelist fixed mydealz.de for me.
Maybe this could be an addition ?

Thanks !

[2019-01-07 16:48] anudeepND commented on #69
@xxcriticxx Thanks for reporting, which host file block this domain?

[2019-01-07 16:49] anudeepND commented on #71
@ChriKn which host files are you using?

[2019-01-07 16:57] ChriKn commented on #71
Hi @anudeepND, I usewhitelist.txt and refferal-sites.txt

[2019-01-08 01:22] xxcriticxx commented on #69
@anudeepND out the four i only needed to add `ichnaea.netflix.com` to get Netflix to work on my Samsung TV

`api-global.netflix.com` Perflyst SmartTV
`ichnaea.netflix.com` Perflyst SmartTV / AdguardDNS
`appboot.netflix.com` Perflyst SmartTV
`secure.netflix.com` Perflyst SmartTV

[2019-01-08 01:33] xxcriticxx opened #72 "npr news"
need to whitelist `npr-news.streaming.adswizz.com` if you want to listen to the morning news podcast

fyi this will play sponsor clip before your news

`Match found in https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts:`
`npr-news.streaming.adswizz.com`

[2019-01-08 10:09] anudeepND commented on #72
@xxcriticxx Can confirm. I saw this in a reddit post on r/pihole

[2019-01-08 10:13] #72 closed

[2019-01-08 10:15] anudeepND commented on #71
@pahakalle Thanks for the info. @ChriKn What issues are you having with mydealz.de? Images not loading? or any other issues?

[2019-01-08 10:17] anudeepND commented on #69
@xxcriticxx It is been added to the optional-list.txt Thanks for reporting

[2019-01-08 10:17] #69 closed

[2019-01-11 22:44] pahakalle opened #74 "comm: file 1 is not in sorted order"
The sort part in whitelist.sh's duplicate remove part returns an "error" shown in the image below.

![screenshot 62](https://user-images.githubusercontent.com/1533244/51063252-d91fdb00-1602-11e9-9cce-2b596bf749b2.png)

[2019-01-11 22:54] pahakalle commented on #74
Not a breaking error everything seems to still work fine

[2019-01-13 09:18] anudeepND commented on #74
@pahakalle Which OS are you using? I tested with a fresh install of Dietpi on my Raspi zero, I did not get this error

[2019-01-13 14:30] pahakalle commented on #74
Im using Raspbian

[2019-01-16 03:14] sirjangoon opened #75 "Non-breaking space in whitelist"
In the whitelist, there is a non-breaking space at the end of line 154 for s2.youtube.com

`s2.youtube.com `

This causes issues when using Teleporter to import a backup with this line in its whitelist.

[2019-01-16 08:31] anudeepND commented on #75
@sirjangoon Thanks for reporting

[2019-01-16 08:31] #75 closed

[2019-01-16 08:48] anudeepND commented on #74
@pahakalle Can you modify the script from `mv /etc/pihole/whitelist.txt /etc/pihole/whitelist.txt.old && cat /etc/pihole/whitelist.txt.old | sort | uniq >> /etc/pihole/whitelist.txt`

to

`mv /etc/pihole/whitelist.txt /etc/pihole/whitelist.txt.old && cat /etc/pihole/whitelist.txt.old | sort -n | uniq >> /etc/pihole/whitelist.txt`

(sort -n instead of sort)

Run the modified script on your system a

[2019-01-16 18:31] anudeepND commented on #74
@pahakalle That's strange, I was unable to reproduce the issue on Raspbian stretch lite (April build)

[2019-01-16 18:35] pahakalle commented on #74
I reinstalled the operating system and other stuff and it seemed to fix the issue, whatever it was ¯\_(ツ)_/¯

[2019-01-16 18:35] #74 closed

[2019-01-16 18:39] anudeepND commented on #74
@pahakalle If you come across this warning again, try `sort -n` instead of `sort`

[2019-01-16 18:45] anudeepND commented on #71
@ChriKn Sorry for the late response, I browsed mydealz.de for a few minutes with [ublock logger](https://github.com/gorhill/uBlock/wiki/The-logger) opened, `partners.webmasterplan.com` never appeared in the log. Am I missing something?

[2019-01-17 10:04] ChriKn commented on #71
Have you tried to follow any of the "deals" I think it depends on the site hosting the deal, some using madrilapp others webmasterplan...
Thanks for the help, greatly appreciated

[2019-01-18 20:07] meepmeep opened #76 "Add fls-eu.amazon.com and fls-na.amazon.com for prime video to work"
Theses hosts are in https://hosts-file.net/ad_servers.txt, but they need to be accessed to watch something on amazon prime video.

Could you add them ? (fls-eu.amazon.com and fls-na.amazon.com )

[2019-01-21 11:49] xxcriticxx commented on #76
@meepmeep on what device you having trouble viewing prime?

[2019-01-23 20:10] meepmeep commented on #76
I'm using chrome 71 on win10.
When launching a video, it stopped after 5~8sec, but if I whitelist theses url, it works (eu for europe, and na for north america)

`21:03:04 dnsmasq[421]: query[A] fls-eu.amazon.com from 192.168.1.41      `

Some analysis :
https://discourse.pi-hole.net/t/fls-na-amazon-com-top-blocked-domain/5546/5
https://www.reddit.com/r/pihole/comments/9ex5rg/amazon_prime_video/

[2019-01-24 02:03] xxcriticxx commented on #76
chrome 71 on win7 prime video works

tomorrow i will test on win10

[2019-01-25 04:07] XelNika opened #78 "Additional referral sites"
I've come across a few referral domains that I thought you might want. These are mainly from using [Pricerunner](https://en.wikipedia.org/wiki/PriceRunner) and Google:
[code]

[2019-01-25 05:50] chado99 opened #79 "referral site"
click.linksynergy.com is used for some ebates sites.

[2019-01-27 13:11] MrAnnix opened #80 "Samsung TV"
"cdn.samsungcloudsolution.com" is on the pi hole's default blocking list.

Recent Samsung TVs stop network if this domain is unaccesible.

[2019-01-29 14:59] anudeepND commented on #76
@meepmeep Amazon Prime android app and web app are working fine with these domain blocked (including fls-in.amazon.com blocked)

[2019-01-29 15:01] anudeepND commented on #80
@MrAnnix What exact issues are you having? Does it affect Samsung services like updates?

[2019-01-29 15:03] anudeepND commented on #79
Thanks @chado99

[2019-01-29 15:03] #79 closed

[2019-01-29 15:05] anudeepND commented on #78
ad.atdmt.com
clickserve.dartsearch.net

Are you referring to product links that appears on search page?

[2019-01-29 15:06] MrAnnix commented on #80
Yes, even the TV don't let me use any network related service.

El mar., 29 ene. 2019 16:01, Anudeep <notifications@github.com> escribió:

[2019-01-29 15:18] XelNika commented on #78
Yes.

[2019-01-29 15:24] anudeepND commented on #80
@MrAnnix Seems like legit, here is more info about it - https://www.vnutz.com/articles/Idle_Network_Activity_of_a_Samsung_TV

[2019-01-29 15:37] anudeepND commented on #78
Thanks @XelNika

[2019-01-29 15:37] #78 closed

[2019-02-03 12:54] xxcriticxx opened #83 "openload.co"
Match found in https://hosts-file.net/emd.txt:
   openload.co
   www.openload.co

[2019-02-11 01:21] chado99 opened #84 "Cannot login to groupme.com"
unable to login to the web client of groupme (https://web.groupme.com/signin) without first whitlisting: d2wy8f7a9ursnm.cloudfront.net
-- | --

[2019-02-11 21:03] chado99 opened #85 "Shopping sites blocked"
Unable to shop on sites driven by Mssl.com platform. Pls whitelist this domain and www.mssl.com.

[2019-02-12 01:18] ZeroDot1 opened #86 "Check llnwd.net subdomains for the white list"
Download: [llnwd.net.txt](https://github.com/anudeepND/whitelist/files/2853664/llnwd.net.txt) Subdomain List
Please check the document with the URLs, and check which URLs can be on the white list.
e.g. Amazon Video and BBC Radio are distributed via subdomains.
Unfortunately, this is not included in most White Lists.
Maybe you should create an extra list with only subdomains from this CDN.

[2019-02-12 04:16] chado99 opened #87 "developers.google.com for whitelist"
developers.google.com is a common site for referencing google documentation.

[2019-02-12 14:37] anudeepND commented on #87
@chado99 Can you mention the host files which block this domain?

[2019-02-12 14:49] anudeepND commented on #86
@ZeroDot1 11K domains is a lot. Best case is to cherry pick the required ones and adding them to the list.

[2019-02-12 14:50] anudeepND commented on #85
@chado99 Please mention the host file in which it is blocked

[2019-02-12 14:51] anudeepND commented on #84
@chado99 I will look into it. Thanks for reporting

[2019-02-12 14:51] #76 closed

[2019-02-12 14:54] anudeepND commented on #83
But openload loads a ton of ad domains and redirects to many shady sites. I think it is better to leave it blocked

[2019-02-12 15:31] chado99 commented on #85
Newbie question. Is there an easy way in PiHole to check which hostile is impacting?

[2019-02-12 16:42] ZeroDot1 opened #88 "Add clamav.net domains"
Please add the most important clamav.net domains to the white list to prevent blacklisting.
https://www.heise.de/security/meldung/Qnap-NAS-Malware-manipuliert-Hosts-Datei-und-verhindert-Sicherheitsupdates-4304657.html

Subdomains List:
[code]

[2019-02-12 17:32] anudeepND commented on #85
@chado99 Go to http://pi.hole/admin/queryads.php and search the domain

[2019-02-12 22:04] chado99 commented on #85
Match found in https://hosts-file.net/ad_servers.txt:
   mcssl.com
   www.mcssl.com

[2019-02-12 22:04] chado99 commented on #87
Match found in https://tspprs.com/dl/tracking:
   developers.google.com

[2019-02-12 22:05] chado99 commented on #84
Match found in https://hosts-file.net/ad_servers.txt:
   d2wy8f7a9ursnm.cloudfront.net

[2019-02-13 02:26] xxcriticxx commented on #83
But you need it if you use Kodi

[2019-02-13 05:07] chado99 commented on #85
My specific use case was trying a user was trying to shop on the https://www.precisionnutrition.com/ which uses mcssl.com anytime you try to add a book/product to the cart and checkout.

[2019-02-14 03:29] chado99 commented on #87
I have stopped using the tspprs.com blacklists because of too many false positives. perhaps others have a similar experieince.

[2019-02-14 04:05] anudeepND commented on #87
@chado99 tspprs.com does block a lot of legit domains, I have seen some reddit posts too

[2019-02-14 04:06] #87 closed

[2019-02-17 01:35] naota2k3 opened #89 "Running ./whitelist.sh locks pi-hole server hard locks computer"
I am running Pi-Hole on a Ubuntu Server 18-04.02 LTS server with 2 Gig of ram, 60 gigs hard drive, 2 logical hard drives in VMWARE ESX-i 6.5. When I attempt to run the whitelist script. It will attempt  rebuild the gravity list and the computer will completely lock up.   I am unable to get to it using console or ssh. I have to hard reboot the unit in order to gain access again.

[2019-02-18 06:32] pahakalle commented on #89
Do you have large lists on pi-hole?
If you run `pihole -g` on the server will it lock up.

[2019-02-18 14:24] naota2k3 commented on #89
I have a stock install of Pi-hole on a ubuntu virtual machine. I wasn't running any custom white lists or black lists. I have noticed the that instance of pihole was crashing with pihole -up and pihole -g. I have reinstalled the operating system and made sure it was patched correctly. I was getting the same issue on 18-04 of ubuntu. I have reinstalled with 16-04 ubuntu and it seems to be working c

[2019-02-18 14:41] anudeepND commented on #89
@naota2k3 @naota2k3 thanks for the input. I also have pi-hole installed on 16.04 in an AWS instance. Anyways I will check the 18.04.

[2019-02-18 15:08] chado99 opened #90 "Some videos blocked from huffingtonpost"
First video on this page blocked. https://m.huffpost.com/us/entry/us_5c6a1dc5e4b05c889d20661d?ncid=APPLENEWS00001

Whitelist

   hlsrv.vidible.tv

 Match found in https://raw.githubusercontent.com/anudeepND/blacklist/master/adservers.txt:
   hlsrv.vidible.tv

[2019-02-18 15:44] anudeepND commented on #90
@chado99 oops it's present in my own host file xD, I will remove it ASAP

[2019-02-18 16:09] anudeepND commented on #88
@ZeroDot1 Correct me if I'm wrong, the malware uses host file to block updates to antivirus definitions right? Also the contents of `etc/hosts` is preferred first always, even if you have whitelisted these domains, it will be not be unblocked. I'm open for suggestions

[2019-02-18 16:14] anudeepND commented on #90
Thanks @chado99

[2019-02-18 16:14] #90 closed

[2019-02-18 16:15] anudeepND commented on #83
@xxcriticxx I will add it to optional list

[2019-02-18 16:17] #83 closed

[2019-02-18 16:17] #86 closed

[2019-02-18 16:30] anudeepND commented on #84
@chado99 Full URL is ​https://d2wy8f7a9ursnm.cloudfront.net/bugsnag-2.min.js, bugsnag is a error reporting tool, are you sure about this domain?

[2019-02-18 16:32] chado99 commented on #84
Interesting. Thank you. Let me look again.

[2019-02-18 18:28] ZeroDot1 commented on #88
I've seen several scripts that use your white list for automatic white listing of URLs.
If the domais are now permanently on the white list, the domains will also automatically delete from the hosts files with the scripts.
That is why important domains should be on a white list.

The malwere uses the hosts file, here is the script to solve the problem.

[code]

[2019-02-19 04:17] chado99 commented on #84
pls close this issue.. My issue logging in was likely something else

[2019-02-19 04:17] #84 closed

[2019-02-21 03:51] anudeepND commented on #85
@chado99 This issue is addressed here: https://forums.malwarebytes.com/topic/242854-shopping-cart-blocked/

[2019-02-21 03:52] #85 closed

[2019-02-21 04:15] chado99 commented on #85
Thanks!

[2019-02-27 04:41] homerhomer opened #91 "philo"
Hi,  I had to add this to my whitelist to get it to work
api.segment.io

Thanks

[2019-02-27 16:11] PoorPocketsMcNewHold commented on #91
[This seems to be a telemetry domain](https://github.com/mattermost/desktop/issues/544), so has the anudeepND whitelist script, or Pi-hole doesn't rely on it to be whitelisted to be working, this surely won't be added. However, if you've forgot which website of service you weren't able to use due to this list being blocked (Even if it's this telemetry service in particular actually), i encourage y

[2019-03-02 19:01] adrianvg opened #93 "optional-list: Spotify urls to be able to cast to Denon Heos speakers"
Hi,

Connecting to Spotify Premium from mobile phone works using these white-listings:

mobile-ap.spotify.com
apresolve.spotify.com
upgrade.scdn.com
market.spotify.com
spclient.wg.spotify.com

To be able to connect/cast to Denon Heos wifi-speakers from within Spotify, this needed to be added as well:
audio-ake.spotify.com.edgesuite.net

I'm thinking more wifi-speaker brands may need the last white

[2019-03-12 23:16] xxcriticxx opened #94 "DNSthingy = adam:ONE"
Description
Find web site dependencies, and when using adam:ONE (formerly known as DNSthingy) it adds the HTTPS block page.

https://chrome.google.com/webstore/detail/adamone-assistant/fdmpekabnlekabjlimjkfmdjajnddgpc

https://dnsthingy.com/
https://adamnet.works/

[2019-03-16 21:27] adrianvg opened #95 "Whitelisting Disqus"
Hi AnuDeep!

Consider adding these hostnames in order to whitelist Disqus.

disqus.com
disquscdn.com
prod.disqus.map.fastlylb.net
c.disquscdn.com.cdn.cloudflare.net
referrer.disqus.com

Cheers,
AvG

[2019-03-20 14:02] Thomas499 opened #96 "Whitelists required to download firestick apps"
**Whitelist Request:**
mas-ext.amazon.com

**Devices effected:**
All amazon firesticks

**Hosts list that include mas-ext.amazon.com:**
https://raw.githubusercontent.com/jerryn70/GoodbyeAds/master/Hosts/GoodbyeAds.txt
https://raw.githubusercontent.com/EnergizedProtection/block/master/ultimate/formats/hosts.txt

**Effects of having list above enabled without mas-ext.amazon.com on whitelist:**
When

[2019-03-20 21:15] johnfc2018 opened #97 "Suggestion: Docker support"
Hi,

I like how your script gets the whitelist.txt and adds anything that is missing from the existing whitelist. However, here is a couple of changes you might want to make.

Add command line arguments such as:
./whitelist.sh docker dockername /path/to/etc/pihole

So if your script sees the argument "docker" it calls docker exec dockername pihole -g >/dev/null and if not, it runs normally.

[2019-04-06 12:39] ArniDagur opened #99 "Whitelist stats.streamelements.com"
The website https://stats.streamelements.com/ is blocked by [pihole-regex](https://github.com/mmotti/pihole-regex). As far as I know, it's not used to track anyone, but is only to display statistics.

[2019-04-17 03:32] chado99 opened #100 "Refersion.com"
Please consider whitelisting this site and sub domains. It’s an affiliate site we use.

 Match found in Whitelist
   refersion.com
 Match found in https://raw.githubusercontent.com/anudeepND/blacklist/master/adservers.txt:
   cdn.refersion.com
   refersion.com
   www.refersion.com

[2019-04-20 13:42] flodus commented on #97
I'm interesting to have this feature, whitelist for pihole docker. I don't know how to install your lists on my pihole container.

[2019-04-20 21:54] pahakalle commented on #97
I don't see any reason to add docker support directly to the script as it's easy to run it with something like `docker exec mycontainer /path/to/whitelist.sh
`

Instructions for that could be added to the readme toug.

[2019-04-22 17:36] Thomas499 opened #101 "Whitelist required to watch AcornTV app (British version of Netflix)"
**Whitelist Request:**
api.rlje.net

**Devices effected:**
All amazon firesticks

**Hosts list that include api.rlje.net:**
https://raw.githubusercontent.com/jerryn70/GoodbyeAds/master/Hosts/GoodbyeAds.txt
https://raw.githubusercontent.com/EnergizedProtection/block/master/basic/formats/hosts
https://raw.githubusercontent.com/EnergizedProtection/block/master/bluGo/formats/hosts
https://raw.githubus

[2019-05-01 13:42] torqu3e opened #102 "Whitelist (akamai, dickssportinggoods, adobe creative cloud, instagram) update"
The following domains block the Akamai delivery network and are safe to be whitelisted. The last one is a diagnostic site used by Akamai.

[code]

Whitelist dickssportinggoods (this probably triggered an adult word search "dick" but is a genuine business for outdoor equipment).

[code]
Adobe creative cloud, required to access their subscription based service for the whole creative cloud.

[code]
A

[2019-05-22 09:48] jult commented on #102
akamai.net and akamai.com as a whole I have whitelisted, no problem with bad stuff coming from that thus far. Akamai has its own checks and policies, they do have *some* moral values, I mean, their heritage is with Tim Berners-Lee no less. https://www.akamaiaffinity.com/about-akamai

[2019-05-31 09:54] skapytek opened #103 "question"
Hi,
is this list still updated frequently?
Im asking cause i dont see any updates for a few months.

regards

[2019-05-31 16:18] anudeepND commented on #97
@johnfc2018 Can you check with the latest version of this repo? I tested with my pihole/pihole docker image and it works fine.

[2019-05-31 17:02] anudeepND commented on #102
@torqu3e Which adlists are you using with your Pi-hole?

[2019-05-31 17:04] #101 closed

[2019-05-31 17:05] anudeepND commented on #101
@Thomas499 Thanks for reporting!

[2019-05-31 17:06] anudeepND commented on #103
@skapytek Yes it is. I was away from Github for a few months because of health issues.

[2019-05-31 17:06] #103 closed

[2019-05-31 17:11] #100 closed

[2019-05-31 17:13] #99 closed

[2019-05-31 17:18] anudeepND commented on #95
@adrianvg Can you mention the host files which blocks these domains?

[2019-05-31 17:23] #94 closed

[2019-05-31 17:24] anudeepND commented on #91
As @PoorPocketsMcNewHold said, this is a telemetry domain and will not be added to the list.

[2019-05-31 17:24] #91 closed

[2019-05-31 17:24] #89 closed

[2019-05-31 17:27] anudeepND commented on #96
Fixed

[2019-05-31 17:27] #96 closed

[2019-05-31 17:28] anudeepND commented on #93
@adrianvg Which blocklist are you using?

[2019-05-31 17:30] anudeepND commented on #88
From the article:
`Update 13.02.19, 14:30: QNAP recommends downloading the Malware Remover manually from the App Center in a Security Advisory. The aforementioned script is not mentioned. QNAP only points out that they will continue to investigate the incident and provide further information and a fix as soon as possible. (KTN)`

[2019-05-31 17:30] #88 closed

[2019-05-31 17:33] torqu3e commented on #102
[code]

[2019-06-01 02:20] RobbieTheK opened #105 "whitelist CDN fraud prevention site *.forter.com and Zelle banking"
I made a post on [the pi-hole discourse, ](https://discourse.pi-hole.net/t/false-positives-on-swimoutlet-com-and-forter-fraud-prevention-solution-cdn-google-shopping-blocked/20163) but no-one has replied. Within a site like swimoutlet.com, they use a fraud protection service called forter.com. We also found when Google shopping a page was being blocked with the subdomain clickserve.dartsearch.net.

[2019-06-01 12:35] anudeepND commented on #105
@RobbieTheK forter.com and its subdomains are not blocked in default blocklists. Can you paste the output of `pihole -q forter.com`?

[2019-06-01 13:29] RobbieTheK commented on #105
haps it's another domain then?
[code]

[2019-06-03 10:07] adrianvg commented on #95
No idea, these are the lists I currently use:

https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts
https://mirror1.malwaredomains.com/files/justdomains
http://sysctl.org/cameleon/hosts
https://zeustracker.abuse.ch/blocklist.php?download=domainblocklist
https://s3.amazonaws.com/lists.disconnect.me/simple_tracking.txt
https://s3.amazonaws.com/lists.disconnect.me/simple_ad.txt
https://ho

[2019-06-03 10:40] patrickdrd commented on #95
you can download them one by one naming each one carefully and then searching with find in files and
after you find which list has it, you should report it to the appropriate list,
that's what I do when I find there's something going wrong

[2019-06-03 10:44] adrianvg commented on #95
I'll see what I can do. Thanks for the hint!

[2019-06-03 10:47] patrickdrd commented on #95
I downloaded energized and stevenblack myself and I didn't find any for the domains you reported,
especially energized, since you use the ultimate, it would be a culrpit, but it's not the one,
you would rather maintain your own whitelist, that 's what I do and it's close to 2000 entries!

[2019-06-03 11:02] anudeepND commented on #95
@adrianvg https://easylist-downloads.adblockplus.org/antiadblockfilters.txt and https://easylist.to/easylist/fanboy-annoyance.txt are not compatible with Pi-Hole, these list are for browser adblockers like uBlock and Adblock Plus. Remove them and check.
After removing them, you can search the domains with `pihole -q disqus.com`. As @patrickdrd said  energized ultimate might be the culprit

[2019-06-03 11:05] adrianvg commented on #95
@anudeepND
I know, I meant to remove them, but never got around to it after I initially set up pihole.
Time to do it now!

[2019-06-03 12:41] adrianvg commented on #95
Removed the lists mentioned above.
Running "pihole -q disqus.com" reveals there are plenty of other blacklists referring to *.disqus.com.
No matter, I've whitelisted the important disqus sites as stated initially.
Thanks for the feedback!

[2019-06-03 12:54] anudeepND commented on #95
@adrianvg referrer.disqus.com might be a tracking domain (?). I have default adlist and https://github.com/anudeepND/blacklist which is maintained by me, I don't have any problems with any of the Disqus service

[2019-06-04 03:03] RobbieTheK commented on #105
Here's another, landing pages from emails never redirect properly with this:
[code]

[2019-06-08 08:42] anudeepND commented on #105
@RobbieTheK trackcmp.net seems to be a email tracker, so it will not be added

[2019-06-08 08:46] anudeepND commented on #102
@torqu3e omtrdc.net is nasty tracking domain. I will take a closer look at akamai.net domains. Can you post the output of `pihole -q dickssportinggoods.com`?

[2019-06-08 08:47] #97 closed

[2019-06-08 08:52] anudeepND commented on #93
@adrianvg Thanks for reporting

[2019-06-08 08:52] #93 closed

[2019-06-08 08:52] #95 closed

[2019-06-08 08:55] #71 closed

[2019-06-09 02:48] RobbieTheK commented on #105
OK that I understand but what about *.forter.com?

[2019-06-09 16:04] anudeepND commented on #105
@RobbieTheK I will look into it, even I had some of `*.forter.com` in my Pihole log (Vox media maybe?)

[2019-06-25 09:24] planet0 commented on #93
Hi @anudeepND, I was looking through the optional-list.txt and noticed a small typo relating to this.

Currently is audio-ake.spotify.com.edgesuite **.ne** in the txt file, should be edgesuite **.net** at the end.

[2019-06-25 11:07] anudeepND commented on #93
@planet0 oh thanks! I will fix it when I get home

[2019-07-01 19:58] tutyamxx opened #107 "You may add a few more from steam too."
steamcdn-a.akamaihd.net
steamcommunity-a.akamaihd.net

[2019-08-23 15:47] IrrevocableNoob opened #109 "sudo chmod +x whitelist.sh missing from instructions for automation"
referral.sh is given executable in the instructions but not whitelist, running sudo ./whitelist.sh results in command not found if no +x on whitelist.sh

[2019-08-24 02:41] #109 closed

[2019-08-24 02:46] anudeepND commented on #109
Thanks for reporting :)

[2019-08-24 17:56] DukeyToo opened #110 "Make scripts executable"
Git understands file attributes and even sees them as a change. Make the scripts executable in git so that new users don't have to manually do it

[2019-08-30 13:52] anudeepND commented on #110
Thanks for letting me know, `git update-index --chmod=+x whitelist.sh` is this the correct flag to make it executable?

[2019-08-30 14:29] DukeyToo commented on #110
Depending on git version and os or shell, you can just `chmod +x
whitelist.sh` and then commit the change like any other change. But what
you have seems like it would work too.

On Fri, Aug 30, 2019, 8:52 AM Anudeep <notifications@github.com> wrote:

[2019-09-04 11:09] torqu3e commented on #102
[code]

I get your point about omtrdc.net though what I have been complaining about is that banning top level domains causes all records under them to be banned as well e.g. NS, MX etc. Hence suggestion to ban FQDNs instead of top levels.

[2019-09-17 20:32] psipher opened #111 "domain to whitelist for messenger lite"
mqtt-mini.facebook.com
Unable to send message if this is not whitelisted.

[2019-10-15 10:24] AaronDavidSchneider opened #112 "whitelist Instagramdomain"
I needed to whitelist this domain: instagram.c10r.facebook.com
Otherwise instagram wont work.

[2019-10-23 16:29] ZeroDot1 opened #113 "Add white listing for Amazon Kindle."
Hi @anudeepND,

In a very large number of blacklists, domains for [Amazon Kindle](https://tinyurl.com/y6g9u2wm) are blocked.
This problem should be solved by putting the most important URLs on a white list.
I tested everything yesterday and the following URLs are used in Germany:

[code]

[2019-10-31 13:39] anudeepND commented on #110
@DukeyToo Sorry for the late reply, it is been added in fb7fe3d7c28b88ec56d5768008e3e35f0541d50d

[2019-10-31 13:39] #110 closed

[2019-11-02 07:06] anudeepND commented on #113
@ZeroDot1 Sorry for the late reply, thanks for reporting :)

[2019-11-02 07:06] #113 closed

[2019-11-02 07:09] anudeepND commented on #112
@AaronDavidSchneider whitelist.txt should not contain any Facebook or Instagram domains, so I will add it to optional-list.txt

[2019-11-02 07:10] #112 closed

[2019-11-02 07:11] anudeepND commented on #107
@tutyamxx Can you provide some info on which hostfiles are you using?

[2019-11-02 07:12] anudeepND commented on #111
@psipher Thanks for reporting, it will be added to optional-list.txt

[2019-11-02 07:13] #111 closed

[2019-11-02 07:18] ZeroDot1 commented on #113
No problem.
Thanks for adding it to the white list.

[2019-11-02 14:05] tutyamxx commented on #107
The 2 links above, steam is using them for sharing images via chat and steam community market as well. I suggest searching "steam" on google. Basically it's the biggest digital market for PC games

[2019-11-02 19:36] SuperSandro2000 commented on #107
@tutyamxx He wanted to from which hosting file is adding this to the blacklist.

[2019-11-02 23:39] tutyamxx commented on #107
Oh, well a lot of them, that might be the problem? Obviously added them as whitelist myself.

[2019-11-03 14:59] #107 closed

[2019-11-05 02:12] pikeas opened #114 "forms.gle"
Please consider adding `forms.gle` to the repo.

[2019-11-07 10:07] anudeepND commented on #114
@pikeas Can you post the output of `pihole -q forms.gl`?

[2019-11-07 18:54] pikeas commented on #114
[code]

I'm not sure why that list is labeled `domains`, the domain is actually blocked by https://hosts-file.net/psh.txt, which is one of the commonly recommended lists from https://firebog.net/

[2019-11-13 16:21] Thomas499 opened #115 "Whitelist required for firestick to work properly"
**List that blacklist the required urls** https://raw.githubusercontent.com/EnergizedProtection/block/master/ultimate/formats/hosts.txt

**Additional Documentation of the issue**
https://github.com/EnergizedProtection/block/issues/310

**URL's needed to be whitelisted**
[code]
**Details:**
**api.amazonalexa.com** // needed to setup a new firestick. Without it whitelisted, after you register the ne

[2019-11-14 11:59] antwal opened #116 "Amazon Short Link"
Add domain (ads free) :

amzn.to
amzn.com

[2019-11-16 15:50] anudeepND commented on #116
Thanks for reporting @antwal

[2019-11-16 15:50] #116 closed

[2019-11-17 05:18] anudeepND commented on #115
@Thomas499 Thanks for the detailed info, I was able to get details on `api.amazonalexa.com` - https://developer.amazon.com/docs/custom-skills/request-customer-contact-information-for-use-in-your-skill.html

But there is not much info on other domains

[2019-11-18 14:05] Thomas499 commented on #115
Let me know how I can help. Here is a link https://www.reddit.com/r/pihole/comments/8bz1l1/i_blocked_a_few_amazon_domains_and_my_fire_tv/ that shows someone else ran into issues with some of the links that I mentioned but it isn't extremely helpful because the person didn't describe what symptoms each link caused when blacklisted or even confirm that each link caused a problem rather than just lis

[2019-11-30 03:37] Wxfisch opened #117 "Add 1drv.ms to Whitelist"
1drv.ms is needed for Microsoft OneDrive to work correctly.

[2019-12-06 18:34] mschoettle commented on #76
It breaks Amazon Prime on Apple TV. You can browse and select a video, but when starting one the loading icon stays there forever.

[2019-12-19 19:17] andrewjmetzger commented on #115
I have a Fire TV Stick 4K device. For science (because science is cool) I reset it and went through the device registration process again.

Before I began, I whitelisted these three domains as indicated by Thomas499's original comment:

[code]

Device registration was completed without issue. I _did not_ have to whitelist `ftvr-na.amazon.com` as the comment above suggested. Perhaps something chang

[2019-12-20 14:00] Thomas499 commented on #115
I confirm that `ftvr-na.amazon.com` and `msh.amazon.com` are no longer on the EnergizedProtection's blocklist. Energizer has since whitelisted all of the urls that I included in this issue as I made an issue on the energizer page too as shown here EnergizedProtection/block#310 . In fact, the only url listed in this issue that I can find on any blacklist that I use now is `msh.amazon.com`  listed o

[2019-12-20 14:00] #115 closed

[2019-12-24 13:55] borzaka opened #118 "FatWallet closed their operations"
![image](https://user-images.githubusercontent.com/1230402/71415690-3dde1500-265d-11ea-9c58-659be4fbc325.png)
https://www.fatwallet.com/fatwallet-goodbye

What other referral-sites are there besides Slickdeals?

[2019-12-24 14:43] borzaka opened #120 "Ads-blocker.com - Testing your ads blocker - still shows some ads"
I still see 2 ads on this page: https://ads-blocker.com/testing/
These two:

I'am using today's current Pi-hole, and your whitelist.

[2019-12-24 17:40] borzaka commented on #120
Well, I don't see any ads any more. Probably some cache. I don't know.

Maybe worth noting this link in the readme?

[2019-12-24 18:56] borzaka opened #121 "Something is wrong with the PayPal link"

[2019-12-25 05:20] anudeepND commented on #121
@borzaka That's strange, anyway here's my PayPal.me link - https://www.paypal.me/anudeepnd this should work (probably)

[2019-12-25 05:21] anudeepND commented on #120
I think it is appropriate to mention link https://github.com/anudeepND/blacklist
Also i didn't saw any ad on that webpage

[2019-12-25 10:16] borzaka commented on #121
Yes, that link is working, but you are not receiving personal payments. Therefore I have to check _"Paying for goods or a service? Select the checkbox and your eligible purchases may be covered by PayPal Buyer Protection."_ and give my shipping address.

If you can, please enable personal (or donation-like) payments. I don't know the correct term, as I see the messages in hungarian (I'am from Hung

[2019-12-25 10:17] borzaka commented on #120
Yes, you are right, that test site should belong to your blacklist repo.

[2019-12-25 10:17] #120 closed

[2019-12-25 16:07] anudeepND commented on #121
@borzaka according to PayPal, https://www.paypal.com/in/smarthelp/article/can-i-send-personal-payments-to-a-friend-or-relative-using-my-paypal-india-account-faq638

I have sent a DM on twitter to see if there's any other way to receive the money. I wil update you once they resolve my queries

[2019-12-25 17:02] borzaka commented on #121
Well, it looks like you can't receive donations in India? Strange...

[2019-12-25 18:44] anudeepND commented on #121
@borzaka PayPal has very limited features here, let's see what PayPal support will come up with

[2019-12-26 14:39] anudeepND commented on #121
[they don't support sending / receiving money in India ](https://i.imgur.com/IZSCrYa.jpg)

[2019-12-26 19:32] borzaka commented on #121
Oh.

I was able to send with "No address needed" option via the https://www.paypal.me/anudeepnd link.
I think you can maybe replace the old PayPal link to this new one.
After that, maybe you can close this issue.

Thx!

[2019-12-27 03:34] anudeepND commented on #121
@borzaka Thanks for the donation :)

[2019-12-27 03:34] #121 closed

[2020-01-01 20:51] tonyrulez opened #122 "Add s.put.re to whitelist"
put.re is an MD5 perfect image hosting site. `s.put.re` is the URL for hosted images, i.e. https://s.put.re/hn23ua29.png

[2020-01-07 22:26] sunofsparda opened #123 "Add `telegra.ph` and `telegra.io` to whitelist"
service for anonymous publication of any texts
for example https://telegra.ph/podarochki-12-29

[2020-01-20 13:47] Kopernikus1979 opened #125 "Make it compatible with Pihole Beta 5.0"
Hi,

Starting from Pihole Beta 5.0 is migrating from list storage to a database.
Link: https://pi-hole.net/2020/01/19/announcing-a-beta-test-of-pi-hole-5-0/

[2020-01-20 15:21] mibere commented on #125
@Kopernikus1979 List maintainers don't have to change anything. They just changed the internal way of storing data, not the way the user adds lists.

[2020-01-20 16:41] Obihoernchen commented on #125
That's not 100% true for this project as it uses scripts to update/merge the lists. Currently this script is creating a list file only. This needs to change.

[2020-01-21 15:16] jmgb4 commented on #125
I second this. I just upgraded my pi to 5.0 last night and found this script this morning =(

[2020-01-23 14:35] JKawmi opened #126 "Add track.aliexpress.com to the whitelist"
It is intended to track your order, not your session :)

As far as I know it is not blocked by any of the default lists, however a regex filter from [pihole-regex](https://github.com/mmotti/pihole-regex) is responsible for blocking it

[2020-01-26 21:00] brentil commented on #125
From the linked article specifically stating it does impact custom scripts.

[2020-01-27 00:01] Obihoernchen commented on #125
To make it work with v5.0 add
[code]
before the `${GRAVITY_UPDATE_COMMAND} > /dev/null` line.
This should work.

[2020-01-28 21:14] Nyxholas opened #127 "Add support for 5.0 beta"
Looking for support of the new beta version.

[2020-01-28 21:16] #127 closed

[2020-01-30 20:29] Kopernikus1979 commented on #125
@Obihoernchen

Just upgraded to Pihole 5 and edited the script like you said, and all is going fine.
Thx

@anudeepND
Can you integrate this fix?

[2020-02-07 18:34] brentil commented on #125
Will this add anything into the new comments field v5 supports or just leave it blank?

[2020-02-07 19:18] Obihoernchen commented on #125
I guess it will leave it blank.

[2020-02-09 12:36] XxJooO opened #128 "Microsoft Bing adresses for "Sperrbildschirm""
Hi, I want to whitelist the Bing Servers that give me the new background pictures on the "Sperrbildschirm" of Win10 by using "Windows-Blickpunkt".

Does anyone know those addresses?

[2020-02-14 22:04] grush128 opened #129 "iRobot login for Roomba"
socialize.us1.gigya.com

is required to be whitelisted to login via the app.

https://developers.gigya.com/display/GD/socialize.login+JS

[2020-02-15 01:42] Daskew78 opened #130 "Overwrite existing whitelist"
Hi,

If I install this will it overwrite my existing whitelist? Do I need to back it up first?

And will new manually added domains I personally add be okay? And will updates not overwrite my personally added domains?

Thanks.

[2020-02-15 02:22] Obihoernchen commented on #130
No it will append entries to your existing whitelist and remove duplicates afterwards.
Your domains are kept.

[2020-02-15 02:36] Daskew78 commented on #130
Thanks for the fast reply

Kind Regards
David Askew

Mobile: 07788 316166
Email: david.askew@hotmail.co.uk

On 15 Feb 2020, at 02:22, Obihörnchen <notifications@github.com> wrote:

﻿

No it will append entries to your existing whitelist and remove duplicates afterwards.
Your domains are kept.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub

[2020-02-22 03:55] jsprinceiii opened #131 "Adobe Creative Cloud License Failure"
Please minimally add:
lm.licenses.adobe.com and activate.adobe.com

Creative cloud applications may require others.
More information can be found at:
https://helpx.adobe.com/enterprise/kb/network-endpoints.html

Thanks!!

[2020-03-03 19:06] the4anoni opened #132 "Add these domains to trackers whitelist"
Trackers: (Some shopping apps won't work when these are blocked)
clkde.tradedoubler.com
redir.tradedoubler.com
sc.tradetracker.net
tc.tradetracker.net
s.click.aliexpress.com
Not sure if whitelist or trackers
api.synerise.com
settings.crashlytics.com
punosy.com

[2020-03-04 14:25] davidebonavita opened #133 "Italian Radio on app"
one of the most famous italian radio, its smartphone app doesn't work if you don't whitelist:

scripts.deejay.it

[2020-03-06 07:32] CalmLong opened #134 "Add maxmind.com to the whitelist"

[2020-03-06 12:24] llacb47 commented on #134
Why?

[2020-03-12 19:39] 2Belette opened #135 "Is it possible to make it work with dnsmasq (not pi-hole) ?"
Hi,

I am using an alternative Linux distribution where it is difficult to install & maintain pi-hole, so I am wondering if it would be possible to use your script with a normal dnsmasq install ?
In fact, I am not using the GUI interface as I will send the logs to an elasticsearch to consume in kibana, so I am mainly only using the dnsmasq function with the ablity to block domain through addn-host

[2020-03-13 02:52] #134 closed

[2020-03-18 07:14] mvicari opened #136 "Slickdeals redirect whitelist additions needed"
Redirect trackers I've encountered that are not whitelisted or are still being blocked.

shareasale-analytics.com
click.linksynergy.com
cj.dotomi.com
www.kqzyfj.com

[2020-03-29 13:57] notDavid commented on #130
But...

does that mean this repo can never remove items from their whitelist? These removes items would not be removed from our local whitelist when using `whitelist.sh`?

[2020-04-02 14:26] anudeepND commented on #118
@borzaka I think it is time to remove those domains from the list

[2020-04-02 14:27] anudeepND commented on #136
@mvicari Sorry for the late reply, I will add them in the next update

[2020-04-02 14:28] anudeepND commented on #133
@davidebonavita Thanks for reporting, can you provide more info on which blocklists blocks `scripts.deejay.it`?

[2020-04-02 14:29] anudeepND commented on #132
@the4anoni Thanks for reporting, I need some time to verify these domains. So if you find anything interesting, please post it here

[2020-04-02 14:31] anudeepND commented on #131
@jsprinceiii Thanks for reporting, can you please provide information about the blocklists you're using?

[2020-04-02 14:35] anudeepND commented on #130
@notDavid It dosent any entries from the user whitelist.txt and a backup of the whitelist.txt will be made with the name `whitelist.txt.old`

[2020-04-02 14:35] #130 closed

[2020-04-02 14:36] anudeepND commented on #129
@grush128 Thanks for reporting. Can you list out the blocklists which blocks `socialize.us1.gigya.com `?

[2020-04-02 14:38] anudeepND commented on #128
@XxJooO `https://discourse.pi-hole.net/` is a great place for discussing issues like this, happy posting!

[2020-04-02 14:38] #128 closed

[2020-04-02 14:40] anudeepND commented on #126
@JKawmi You can open an issue [here.](https://github.com/mmotti/pihole-regex)

[2020-04-02 14:40] #126 closed

[2020-04-02 14:43] anudeepND commented on #125
Sorry for the late response everyone. Currently I'm not on beta. @Obihoernchen If everything is good, I will make the change? Also is it possible to add comments to domains in the file and make it appear in user's pi-hole?

[2020-04-02 14:44] anudeepND commented on #123
@sunofsparda Sorry for the delayed response, can you list out the blocklists which blocks these domains?

[2020-04-02 14:46] #105 closed

[2020-04-02 14:47] #102 closed

[2020-04-02 14:48] anudeepND commented on #122
@tonyrulez Sorry for the late reply, can you post which blocklist blocks `s.put.re`?

[2020-04-02 14:49] Obihoernchen commented on #125
@anudeepND sorry but I have no Idea all I did was looking at the man page :D
I didn't test it. Still on v4 as well.

[2020-04-02 15:03] biship commented on #125
@anudeepND FYI, you can follow this to make a beta version available:
https://support.google.com/googleplay/android-developer/answer/3131213?hl=en
We can use that version to test and get you logs etc.

Here is how to add comments with v5.0
https://discourse.pi-hole.net/t/add-comments-to-domains-on-the-cli/28556/19

[2020-04-02 16:21] antwal commented on #122
the domain s.put.re is also in malwarebytes blacklist

[2020-04-02 16:29] antwal commented on #131
i have added Adobe Cloud License on custom whitelist; but another pi-hole not have it. I believe that creating a list dedicated to domains for license management would be better than inserting it directly into a generic whitelist

[2020-04-02 16:43] antwal commented on #133
I don't use it in Italy, but I can tell you that the host you report does not exist. If you do an online test through a tracker, you can verify for yourself that this domain is not working.

So it would be useless to whitelist it.

You can check here: [Host Test](https://www.host-tracker.com/v3/check/2/07cf7eab-b939-4d67-89f7-a483f3c71504)

[2020-04-03 01:23] llacb47 commented on #128
Whitelist `arc.msn.com`.

[2020-04-05 00:04] JKawmi commented on #126
So what issues can I open in here?

[2020-04-06 02:42] SuperSandro2000 commented on #129
It was in some list before but of today I can't find it anymore.

[2020-04-06 03:14] grush128 commented on #129
I will look for it ASAP. I should have all the block lists I used.

On Sun, Apr 5, 2020, 10:42 PM Sandro <notifications@github.com> wrote:

[2020-04-06 04:37] SuperSandro2000 commented on #129
I searched trough a compilation of a friend and there it was removed on 20. Feb https://github.com/deletescape/noads/commit/cbc28f8b290c4ac61c61170cc86d3d38aea58adc#diff-03fec5d3020c661b75efd7669fd8f18bL7855

[2020-04-06 13:32] grush128 commented on #129
Well then looks like it's no longer an issue thanks for doing the search.

On Mon, Apr 6, 2020, 12:37 AM Sandro <notifications@github.com> wrote:

[2020-04-07 04:27] sew3521 commented on #125
I can confirm that the fix by proposed by @Obihoernchen  works flawlessly. It is worth noting that this script runs a full gravity update so if you have many block lists it will take a few minutes to run. Also, if you have Gravity set to update once every 24 hours via Cronjob you might want to consider not having it run after this script runs.
@Obihoernchen  is correct in the assumption that the C

[2020-04-07 04:28] SuperSandro2000 commented on #129
I think we should add it anyway. Wouldn't hurt. Maybe some list re-adds it or old lists still have it.

[2020-04-07 21:33] sew3521 opened #137 "traffic.megaphone.fm"
I added 'traffic.megaphone.fm' to my personal whitelist as it was needed for some podcasts to download. The log showed the block as 'traffic.megaphone.fm (blocked adserver.va3.megaphone.cloud)'

[2020-04-09 00:40] sew3521 commented on #137
Another one to whitelist for podcasts is pdst.fm

[2020-04-09 07:46] anudeepND commented on #125
Thanks everyone, the changes has been implemented. However the comment field remains blank. I'm thinking about adding comments directly to the gravity.db using SQL queries, I will create a new PR for this feature

[2020-04-09 07:46] #125 closed

[2020-04-09 11:16] anudeepND commented on #137
@sew3521 Can you mention the host files which blocks these domains?

[2020-04-09 14:36] sew3521 commented on #137
Sorry @anudeepND I should have thought about that.

 Exact matches for pdst.fm found in:
  - https://block.energized.pro/basic/formats/hosts
  - https://www.github.developerdan.com/hosts/lists/ads-and-tracking-extended.txt

It looks like traffic.megaphone.fm is not in the blacklist anymore. playlist.megaphone.fm is but I have not ran into any issues with it being blocked.
 Match found in exact whi

[2020-04-15 16:14] anudeepND commented on #137
@sew3521 Thanks for the updates, regarding the `pdst.fm` I have noticed the blocklist maintainer. And playlist.megaphone.fm is mot found in the list, I searched the domain on https://app.energized.pro/ since I'm not using that host file

[2020-04-15 16:20] #136 closed

[2020-04-15 16:25] anudeepND commented on #135
@2Belette Interesting, a quick Googling shows https://github.com/dave-kennedy/whitelist. You may need to modify the domain list and the paths which is appropriate for your dnsmasq setup

[2020-04-15 16:30] anudeepND commented on #131
@antwal It will not be added to the whitelist.txt, but if I get the info on which host file is blocking that domain, I can notify the blocklist maintainer

[2020-04-15 16:44] sew3521 commented on #137
@anudeepND thanks for the update! I have since removed the https://block.energized.pro/basic/formats/hosts blocklist from my Pi-Holes. It started to cause me headaches and made many websites unusable. Sorry if I caused undue work for you.

[2020-04-15 16:44] #137 closed

[2020-04-16 22:13] mwoolweaver opened #138 "[request] add whitelist to to there own category when Pi-hole v5.0."
Pi-hole v5.0 will ship a new feature "Group Management" that allows one to categorize User, blocklists, blacklist, whitelist and more.

Adding the domains that are whitelisted to there own group would make managing them from a users perspective a lot easier imo.

[2020-04-28 18:07] scafroglia93 commented on #123
it's unlocked now

[2020-04-28 18:09] scafroglia93 commented on #129
socialize.us1.gigya.com blocked at the moment

[2020-04-30 13:56] anudeepND commented on #129
Oops...it was in my host file and I  removed it in the latest update

[2020-04-30 13:57] #123 closed

[2020-04-30 13:59] anudeepND commented on #138
As far as I know, they don't have commands to add entries to a particular group. But I will definitely consider it in the future.

[2020-04-30 14:01] anudeepND commented on #117
Which block lists are you using? I can report the issue to the maintainer

[2020-04-30 14:03] anudeepND commented on #114
hosts-file.net is dead. For more info: https://www.reddit.com/r/pihole/comments/fsg11e/hostsfilenet/

[2020-04-30 14:03] #114 closed

[2020-05-08 17:08] zachg99 opened #141 "Add to Whitelist for NBC Streaming App"
I was having an issue where the NBC app was crashing randomly.  It showed some commercials but would still randomly crash, sometimes as commercials were about to start and sometimes just during a show.

I had to add one or both of these (I think it was the config2 entry) but the URLs don't have timestamps on them so i'm not positive which:

identity.mparticle.com
config2.mparticle.com

After I mad

[2020-05-09 14:24] anudeepND commented on #141
@zachg99 That's strange, someone on the reddit post said that unblocking `geo.nbcsports.com` should be enough for NBC App to work. Can you give it a try? `*.mparticle.com` is a tracker and it's blocked in a popular [hostfile.](https://github.com/StevenBlack/hosts)

[2020-05-09 14:25] #135 closed

[2020-05-09 18:19] zachg99 commented on #141
Yeah, I actually already had geo.nbcsports.com in the list.  Possibly from pulling your whitelist (thanks for this list/project by the way).

Also, the app would work, and even display commercials, it's just it would crash while watching a show (generally this was in Dateline).  I wonder if it was trying to register with mparticle.com or something, failed, and that caused the app to crash.  I'm go

[2020-05-10 00:02] Obihoernchen opened #142 "Comments for Pi-hole v5"
Pi-hole v5 allows to add comments.
The following command is not documented yet but works ;)
See: https://github.com/pi-hole/pi-hole/commit/15a9d662ac5e1aab12a7c025a48d75971b3687f0

`pihole -w "test.com" --comment "Test comment"`

![image](https://user-images.githubusercontent.com/453508/81487825-b4249200-9261-11ea-8315-bf6b2f3d11ca.png)

I could add such functionality if there is interest.
We woul

[2020-05-13 06:19] schuettecarsten opened #144 "Please add connectivity check URLs to whitelist"
Please add these connectivitycheck URLs to the whitelist, just to make sure that they are not blocked somewhere else accidentially. These URLs are used by mobiles devices to check internet connectivity:

- www.msftconnecttest.com
- www.msftncsi.com / dns.msftncsi.com

Reference:
https://support.microsoft.com/en-us/help/4494446/an-internet-explorer-or-edge-window-opens-when-your-computer-connects,

[2020-05-13 22:33] arkhub opened #145 "should gstatic.com add as wildcard?"
I see pi-hole is blocking fonts.gstatic.com and in the whilelist it only says exact gstatic.com ,should gstatic.com add as wildcard or is there any ads / tracking in that subdomain?

edit : nevermind, I see some of the subdomain are tracker, I got confused for a while because fonts.gstatic.com is blocked and some of the fonts defaulted to times new roman.

[2020-05-13 22:51] #145 closed

[2020-05-16 06:00] andmpel commented on #142
I've figured out how to modify the script to incorporate the --comment field to all the whitelist domains.

modify the whitelist.sh script and add "--comment "whitelist.txt" in the following line as shown below and execute the script to have all top the whitelisted domains from the script imported with a comment of "whitelist.txt"

`${GRAVITY_UPDATE_COMMAND} $(cat /etc/pihole/whitelist.txt | xargs

[2020-05-16 06:07] andmpel commented on #138
I've figured out how to modify the script to incorporate the --comment field to all the whitelist domains.

modify the whitelist.sh script and add "--comment "anudeepND/whitelist" in the following line as shown below and execute the script to have all top the whitelisted domains from the script imported with a comment of "anudeepND/whitelist"

${GRAVITY_UPDATE_COMMAND} $(cat /etc/pihole/whitelist.

[2020-05-19 09:59] eTaurus opened #146 "Compatible with Pi-hole v5.0?"
Hello!
I updated Pi-hole to v5.0. I also read the blog entry accompanying the release and found this:

I deleted all entries in the whitelist section and ran a complete installation of your script that purportedly is compatible with v5.0 but now I do not have any entries in my whitelist. The file "whitelist.txt" exists and contains all entries, but the database does not seem to get populated.

My

[2020-05-19 10:19] #146 closed

[2020-05-19 10:22] eTaurus commented on #146
Okay, nevermind. It was my fault. I installed the script to another directory and ran the old version. Now everything is working. I will try to get the comments working by locally modifying your script. Good work!

[2020-05-19 17:47] grush128 commented on #129
From https://firebog.net/ :
Here are the lists mentioning gigya.com or some version of it.

https://v.firebog.net/hosts/AdguardDNS.txt
https://raw.githubusercontent.com/anudeepND/blacklist/master/adservers.txt
https://raw.githubusercontent.com/bigdargon/hostsVN/master/hosts
https://gitlab.com/quidsup/notrack-blocklists/raw/master/notrack-blocklist.txt

[2020-05-19 20:08] eTaurus commented on #142
Do you mean to comment each entry with information why it needs to be whitelisted? IMO a good idea if there where more space for the comment field. As of now not much of the information would be readable without scrolling sideways. This would demand changes in Pi-hole itself. And a hell of a lot of manual work with the "whitelist.txt"!
For to make it easier to differentiate between manually entere

[2020-05-22 19:54] F3000 opened #149 "pihole -w static.xx.fbcdn.net ->"
This adress is needed to use the "Friednly+" Facebook app on ios

[2020-05-23 00:57] irlittz opened #150 "Consider removing adblock.mahakala.is entirely"
I am aware that Mahakala is only in the "suspicious" lists (and therefore in the "All lists" set) and that I  should expect to have to whitelist some sites myself, but some of the choices Mahakala makes are completely unreasonable.

By the looks of it it blocks all legit Amazon domains. When inspecting the list further after getting multiple false positives _only_ from this list, it seems to inclu

[2020-05-23 00:58] irlittz commented on #150
Sorry, wrong project

[2020-05-23 00:58] #150 closed

[2020-05-26 07:20] Bertaz commented on #133
I think the correct domain is `scripts.kataweb.it`
Radio streaming on [deejay.it](https://www.deejay.it/on-air/) doesn't work if you don't whitelist it

[2020-05-27 16:10] SamboMambo opened #151 "Removing the whitelist"
i added this to my pi, but i whitelisted many things i do not want to whitelist, how to remove completely, and not just by deleting the domains from the pi

[2020-05-27 19:18] SuperSandro2000 commented on #151
https://discourse.pi-hole.net/t/bulk-deletion-of-blacklist-whitelist-entries/32925/2?u=supersandro2000

[2020-06-18 07:48] MatthewFBullock commented on #151
Script linked to doesn't remove any blacklists for me. Any thoughts?

[2020-06-23 02:41] FishyOnMee opened #152 "Whitelist request - pulsar.ebay.com"
pulsar.ebay.com is responsible for showing similar products while searching on eBay. Without it being whitelisted, you cannot go to the product page of a recommended product when trying to click on it.

[2020-06-30 21:19] eugf opened #153 "Whitelist request"
Not sure if it's a redirect or an affiliate link but this got blocked when trying to click on a shopping link from a review: go.skimresources.com

[2020-07-21 09:47] notDavid opened #155 "Add `tracking.dpd.de`"
Hi there, please consider adding `tracking.dpd.de` to the whitelist. It is used to see where your packages are, and blocked by https://github.com/mmotti/pihole-regex/blob/master/regex.list#L15

Thank you!

[2020-07-27 14:45] SZanlongo opened #156 "Whitelist for CBS Video"
CBS on-demand videos will not play without whitelisting: `vidtech.cbsinteractive.com`

[2020-07-27 14:46] SZanlongo opened #157 "Whitelist for Microsoft Continuum"
Windows 10's "Your Phone" app for mirroring Android notifications requires whitelisting: `continuum.dds.microsoft.com`

[2020-08-29 16:45] anudeepND commented on #142
@Obihoernchen @andmpel @eTaurus Take a look at the upcoming update. I have added comment for every domain in the whitelist.txt. Check out the [whitelist-2.0](https://github.com/anudeepND/whitelist/tree/whitelist-2.0) branch to test the new scripts.

[2020-08-30 06:11] #156 closed

[2020-08-30 06:14] #157 closed

[2020-08-30 06:24] #138 closed

[2020-08-30 06:24] #142 closed

[2020-08-30 06:24] #151 closed

[2020-08-30 10:05] Down200 opened #160 ""Python3" needed before directory of whitelist.sh"
Line 117 gives an error when run. Putting "python3" in-between "sudo" and "whitelist/scripts/whitelist.py" fixes the issue. Not sure if line 112 would be able to successfully execute due to this same issue.

[2020-08-30 10:29] mmotti commented on #155
I'm considering removing this particular regexp as there are a lot of false positives.

Could still be useful for those who don't check back and update the regexp list though.

[2020-08-30 11:18] anudeepND commented on #160
@Down200 Thanks for reporting. I also changed the permission of both the files to make them executable in b25ac3665de5a61f768425b46f4d38ad4b9f5bb0

[2020-08-30 14:16] #155 closed

[2020-08-30 14:17] anudeepND commented on #153
@eugf Thanks for reporting, I will add it in the next update

[2020-08-30 14:18] anudeepND commented on #152
@Skye7171 Can you provide me with more info? Which blocklists are you using?

[2020-08-30 14:21] anudeepND commented on #149
@F3000 Since it's a Facebook domain, it won't be added to the `whitelist.txt`.  However I can add it to the `optional-list.txt`.

Which hostfile blocks this domain?

[2020-08-30 14:23] anudeepND commented on #144
@schuettecarsten sorry for the late reply. These domains will be added in the next update.

[2020-08-30 14:24] anudeepND commented on #132
No replies since 5 months. Closing

[2020-08-30 14:24] #132 closed

[2020-08-30 14:25] #118 closed

[2020-08-30 14:26] anudeepND commented on #117
No replies since 5 months. Closing.

[2020-08-30 14:26] #117 closed

[2020-08-30 20:09] labodj opened #161 "Python not present in official docker images"
Hi,
after the last update I'm unable to update the whitelist in docker environment using the official PiHole image (https://hub.docker.com/r/pihole/pihole/) since it does not have Python included, is there any workaround?

[2020-08-31 03:14] energetictree commented on #161
instead of running inside the docker I actually prefer to running it from the outside, you could modify the pihole location to the location of database outside the docker and modify the subprocess call to run docker exec instead.

For example:
pihole_location = r'/home/pi/.config/appdata/pihole/pihole'
subprocess.call("docker exec -it pihole pihole restartdns reload", shell=True, stdout=subprocess

[2020-08-31 18:00] #160 closed

[2020-08-31 18:00] Down200 commented on #160
Thanks! This fixed the issue!

[2020-08-31 19:43] eTaurus commented on #142
Great update! Donation on the way!
Must have been a pain to add comments to all of the entries but: No pain,
no gain!

Regards,

Benjamin

Am Sa., 29. Aug. 2020 um 18:45 Uhr schrieb Anudeep <notifications@github.com

[2020-08-31 23:19] labodj commented on #161
@energetictree thanks for the hint, I made a PR (https://github.com/anudeepND/whitelist/pull/162)

[2020-09-01 14:17] andmpel commented on #142
Can't wait to test it out! Thanks!

[2020-09-02 16:31] anudeepND commented on #161
@labodj Thanks for the PR. Closing

[2020-09-02 16:31] #161 closed

[2020-09-05 13:11] bluebee74 opened #171 "Netflix whitelist"
The following domain in the whitelist referral list does not need to be whitelisted.  I have it blocked and Netflix works perfectly fine.

ichnaea.netflix.com

[2020-09-09 14:16] #171 closed

[2020-09-09 14:32] #141 closed

[2020-09-09 14:32] #129 closed

[2020-09-09 14:34] anudeepND commented on #122
https://forums.malwarebytes.com/topic/251395-review-of-malware-blocks-against-some-types-of-putre-and-sputre-content/

[2020-09-09 14:34] #122 closed

[2020-09-09 14:34] #152 closed

[2020-09-09 14:35] #153 closed

[2020-09-09 14:35] #149 closed

[2020-09-09 14:36] anudeepND commented on #144
clients3.google.com, www.msftncsi.com and dns.msftncsi.com were already in the list. I have added the remaining domains in the latest update.

[2020-09-09 14:36] #144 closed

[2020-09-09 14:36] #131 closed

[2020-09-09 17:07] bluebee74 commented on #171
Thank you

[2020-09-11 20:26] realizelol opened #174 "JsDelivr"
Hi anudeepND,

it's jsdelivr.com not jsdelivr.net

https://www.jsdelivr.com/

best regards
realizelol

[2020-09-13 10:42] TillAtHome opened #175 "error message since yesterday (?), failed to insert domains...."
I get an error message when i run whitelist.py

[X] Failed to insert domains into Gravity database near "(": syntax error

[2020-09-13 12:51] jimaek commented on #174
jsdelivr.com is the website
jsdelivr.net is the domain serving the content.
So both should be whitelisted for everything to operate normally.

[2020-09-13 16:53] realizelol commented on #174
Ah, ok thank you.

There's just no A or AAAA entry. But for example there's a SRV and a TXT entry.

best regards
realizelol

[2020-09-13 16:53] #174 closed

[2020-09-14 17:14] anudeepND commented on #175
This error is due to the latest update which changed the SQL query format.

 Follow these steps:
1. Run the `uninstall.py`
2. `git clone https://github.com/anudeepND/whitelist.git`
3.  `sudo python3 whitelist/scripts/whitelist.py`

This should work

[2020-09-14 18:10] TillAtHome commented on #175
thx for your help. the script is working again.

[2020-09-14 18:10] #175 closed

[2020-09-22 07:26] OmgImAlexis opened #176 "Rename repo to allow-list?"
In keeping up with https://github.com/github/renaming it'd be nice to have this repo and https://github.com/anudeepND/blacklist updated to be allow-list and deny-list respectively.

Since GitHub will forward the old names over this shouldn't be much of a chance nor should I cause any issues for users.

[2020-09-22 08:21] SuperSandro2000 commented on #176
As long as pihole is still using white- and blacklist I wouldn't rename the repo.

[2020-09-22 09:19] OmgImAlexis commented on #176
Okay, so I’ll go and open a request with them to do the same. Once that’s done you’ll be fine renaming these?

[2020-09-22 09:22] SuperSandro2000 commented on #176
I wouldn't mind but I can't decide that.

[2020-09-22 11:32] geeknik commented on #176
GitHub virtue signaling will save the world 🤣🤣🤣

[2020-09-22 12:25] OmgImAlexis commented on #176
What do you mean? 🤔

[2020-09-23 09:49] anudeepND commented on #176
Please refer This has been already discussed - https://github.com/anudeepND/blacklist/issues/112

[2020-09-23 11:04] OmgImAlexis commented on #176
Changing the name wouldn’t cause any issue as the redirect works. Changing the branch would but I’m sure GitHub is going to address that later this year when they add the migration tools in.

[2020-09-23 11:31] markusdresch commented on #176
but it also wouldn't make any sense. look up "blacklist" and "whitelist" in a dictionary. those are real words. "block-list" and "deny-list" are made up substitutes that noone in the tech community (apart from some twitter bubble echo chambers) ever used, so this is counterproductive.

[2020-09-23 13:54] anudeepND commented on #176
The term 'master' does not refer to or imply racism. 'Master' can mean lots of things, and terms such as 'whitelist' and 'blacklist' have been in the tech world for a long time. I don't like the idea of comparing it to a particular community. These terms has been industry standard for quite some time.

As @spirillen said in an older post, many RFC-standards are using white/black-list and they will

[2020-09-23 19:22] OmgImAlexis commented on #176
So in other words “go away we don’t care”. Glad we got that sorted.

It’s honestly sad that you’d rather sit here and explain why this isn’t a problem instead of just changing the name. Really shows your priorities towards your users. 💁‍♀️

[2020-09-23 19:23] OmgImAlexis commented on #176
I’ll be opening RFCs to change those existing projects over too. So I guess I’ll be able to force your hand that way then. So be it.

[2020-09-24 08:56] markusdresch commented on #176
you are totally free to fork a project and name it anything you like, be it pink-unicorn-list or omgi-male-xis-list (could you change your name to something more inclusive please?). you are totally not free to force your opinion on anyone else, your mindset is very disturbing and reminds me of the darkest times in human history.

anyway, issues like this are totally off-topic as they do nothing to

[2020-09-24 09:18] SuperSandro2000 commented on #176
Open source is full of politics but a lot of times in the direction of privacy.

[2020-09-24 10:04] spirillen commented on #176
It is so sad to see how people reject knowledge for the sake of there own deception of how things is related.

As @anudeepND already mentioned and link to, this topic has already been enlightened with knowledge an the relation of the naming. The knowledge have been spooked.

To @OmgImAlexis I'll like to see you have all the RFC's <https://github.com/anudeepND/whitelist/issues/176#issuecomment-6979

[2020-09-26 14:13] #176 closed

[2020-10-04 04:30] Sirgoodwin33 opened #177 "Halo The Master chief collection Achievements"
you need to whitelist vortex.data.microsoft.com to get the steam achievements in that game

[2020-10-12 06:29] derralf opened #178 "fast.fonts.net"
Hi, please consider adding fast.fonts.net to the whitelist.
It is used to deliver webfonts.
It is blocked by https://v.firebog.net/hosts/static/w3kbl.txt

[2020-10-15 04:56] spacepost opened #179 "Only supports default group"
The group id appears to be hard coded to 1 in the sql file. It would be nice if group name or id could be supplied as a parameter to the install.

[2020-10-17 13:17] anudeepND commented on #178
It is maintained by @WaLLy3K, can you look into it?

[2020-10-17 13:18] anudeepND commented on #177
Can you provide more info about the blocklists that you are using?

[2020-10-17 13:33] anudeepND commented on #179
The `1` means that the domain is enabled, Pi-hole [docs ](https://docs.pi-hole.net/database/gravity/) has some information about the database. But it would be nice if we can use the Group management, I will think about how to implement it

[2020-10-18 01:10] Dantasstic opened #180 "Gravity is never updated after script is run"
21 plex domains keep saying they are being added, but if I run the script again, it just says the same thing over and over:

[i] 21 domain(s) NOT in Gravity that are in new script.

    - Adding cdn.optimizely.com
    - Adding clients4.google.com
    - Adding cpms.spop10.ams.plex.bz
    - Adding cpms35.spop10.ams.plex.bz
    - Adding meta-db-worker02.pop.ric.plex.bz
    - Adding meta.plex.bz
    -

[2020-10-18 01:55] Sirgoodwin33 commented on #177
https://linustechtips.com/main/topic/1094810-pi-hole-setup-tutorial/ using the above tutorial so which ever ones are on by default

[2020-10-25 20:01] abulgatz opened #181 "whitelist.txt vs domains.sql and remote vs local"
Which file is used to add whitelist domains in Pi-hole 5.0? Is it `whitelist.txt`, `domains.sql`, or both?

Can the README.md be updated to describe the use of all files? Can we get some better comments in `whitelist.py`?

It appears that `whitelist.py` calls `whitelist.txt` locally but `domains.sql` via remote url. Why the mix?

[2020-10-27 10:21] dekela opened #182 "[X] Failed to insert domains into Gravity database near "(": syntax error"
Error while running the whitelist script.
root@DietPiHole:~# pihole -v
  Pi-hole version is v5.1.2 (Latest: v5.1.2)
  AdminLTE version is v5.1.1 (Latest: v5.1.1)
  FTL version is v5.2 (Latest: v5.2)
root@DietPiHole:~#

[2020-10-29 09:19] #182 closed

[2020-10-29 09:19] dekela commented on #182
I pulled the latests scripts and it was fixed.

[2020-10-29 21:06] mwoolweaver commented on #179
@anudeepND I think I have this figured out. Will submit a P/R that accomplishes this soon.

[2020-10-29 21:19] mwoolweaver commented on #181
https://github.com/anudeepND/whitelist/blob/master/scripts/whitelist.py#L72 - this is where `whitelist.txt` is fetched from github

https://github.com/anudeepND/whitelist/blob/master/scripts/whitelist.py#L73 - this is where `whitelist.sql` is fetched from github

`domains.sql`

[here](https://github.com/anudeepND/whitelist/blob/master/scripts/whitelist.py#L360) you will notice that `anudeep_whitel

[2020-10-29 21:27] mwoolweaver commented on #180
@Dantasstic can you try the script found [here](https://github.com/mwoolweaver/whitelist/blob/master/scripts/whitelist.py) and let me know how it works for you?

[2020-10-29 23:39] Dantasstic commented on #180
How do I do that?

[2020-10-29 23:50] mwoolweaver commented on #180
`curl -sSL https://raw.githubusercontent.com/mwoolweaver/whitelist/master/scripts/whitelist.py | sudo /usr/bin/env python3`

[2020-10-30 00:12] Dantasstic commented on #180
This script will download and add domains from the repo to whitelist.
All the domains in this list are safe to add and does not contain any tracking or adserving domains.

[i] Pi-hole path exists
[i] Write access to /etc/pihole verified
[i] Pi-Hole Gravity database found
[i] 191 domains and 191 SQL queries discovered
[i] Connecting to Gravity.
[i] Successfully Connected to Gravity.
[i] Checking Gr

[2020-10-30 00:36] mwoolweaver commented on #180
It gives you that output all every time you run it?

[2020-10-30 00:47] mwoolweaver commented on #180
@Dantasstic would try again by running that same command again?

[2020-10-30 01:08] mwoolweaver commented on #180
@Dantasstic if you try `pihole -q tvthemes.plexapp.com' and post the output? I think i figured out the issue

[2020-10-30 01:12] Dantasstic commented on #180
pihole -q tvthemes.plexapp.com
 Match found in exact whitelist
   tvthemes.plexapp.com.cdn.cloudflare.net
   tvthemes.plexapp.com

[2020-10-30 01:17] mwoolweaver commented on #180
and if you

   1. go to http://pi.hole/admin/groups-domains.php?type=white

   2. search for that same domain

does the entry have a comment?

[2020-10-30 01:25] mwoolweaver commented on #180
@Dantasstic Try

[code]
it should work correctly for you now :crossed_fingers:

[2020-10-30 01:29] Dantasstic commented on #180
[i] Pi-hole path exists
[i] Write access to /etc/pihole verified
[i] Pi-Hole Gravity database found
[i] 191 domains and 191 SQL queries discovered
[i] Connecting to Gravity.
[i] Successfully Connected to Gravity.
[i] Checking Gravity for domains added by script.
[i] Found 170 domains added by script in whitelist already.
[i] Checking Gravity for domains added by user that are also in script.
[i] C

[2020-10-30 01:37] mwoolweaver commented on #180
@Dantasstic So basically what was happening is those domains didn't have a comment and my sql statement was missing them because they return `null` so when checking for the absence of the string the script leaves as a comment it wasn't finding any text at all so it would skip it.

Now I'm checking for both the absence of our comment and a null value.

means you have manually added these domains so

[2020-10-30 04:28] mwoolweaver commented on #181
maybe this (https://github.com/anudeepND/whitelist/pull/184/commits/1936ee545dd8c06d47e5c77028211d6e5128415a) is better

[2020-10-30 04:35] mwoolweaver commented on #177
@anudeepND

running `pihole -q vortex.data.microsoft.com` using only default lists gives the following output:

[code]

[2020-10-30 05:05] Dantasstic commented on #180
Thanks for the help!

So going forward I should use this command to check for whitelist updates:

[2020-10-30 15:02] mwoolweaver commented on #180
only until #184 gets merged

[2020-11-02 22:34] abulgatz commented on #181
Thanks for the explanation and the comments!

[2020-11-03 17:29] iteqla opened #185 "Google domains"
**lh3.googleusercontent.com**  This is needed to view profile pictures in Gmail, participants in Google Meet sessions and other application of the G Suite

**mail-attachment.googleusercontent.com**   If this is blocked, it is not possible to download attachments from Gmail

**googlehosted.l.googleusercontent.com**  This is needed to view icons on Gdrive

[2020-11-17 12:57] #179 closed

[2020-11-17 12:57] #180 closed

[2020-11-17 13:00] anudeepND commented on #181
Sorry for the late reply, since the script has to support the legacy version and lots of users have set up the script run every week so any domains added to the repo will be pulled and applied automatically (no need to clone the repo again)

[2020-11-17 13:01] #181 closed

[2020-11-17 13:04] anudeepND commented on #177
Hmm...these domains are also used for Windows telemetry, I will take a look at the MS docs again

[2020-11-17 13:10] anudeepND commented on #185
Thanks for reporting, what is the output of `pihole -q` ?

[2020-11-18 00:59] WaLLy3K commented on #178
Thanks for bringing it to my attention @anudeepND, that entry's been removed.

[2020-11-18 01:19] #178 closed

[2020-11-18 22:19] iteqla commented on #185
**pihole -q googleusercontent** returns the below. Please let me know if you need a more specific domain

 **Match found in exact whitelist**
   lh3.googleusercontent.com
   mail-attachment.googleusercontent.com
   googlehosted.l.googleusercontent.com
 **Match found in https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts:**
   displayads-formats.googleusercontent.com
   affiliate.googl

[2020-11-20 22:11] ajitomatix opened #186 "TubiTV, Videos on Wired.com, Twitter Embeds"
- TubiTv app on iOS needs `uapi.adrise.tv`.
- Wired.com videos seem to be using `d2c8v52ll5s99u.cloudfront.net` although with Cloudfront, it's not guaranteed that the same server will be used forever.
- For Twitter Embeds in iOS News `syndication.twitter.com` is needed. Not sure if it is also used for tracking.

[2020-11-22 15:29] mattbxd opened #187 "Group management not being applied"
Completely clean install of Pihole v5.1.2, Interface 5.1.1, FTL 5.2

The whitelist script now adds itself into its own group. However, this group can not be applied to clients.

Example)

I now have two Groups. "Default" and "anudeepND/whitelist"

If I go to Group Management -> Clients

and I attempt to apply both Groups to a client, after clicking "Apply", Pihole will say "Successfully edited gro

[2020-11-22 23:17] akseidel opened #188 "whitelist.py errors for Docker installation (without Python3) and /etc/pihole on different directory"
Running pihole 5.1.2 in docker container.
/etc/pihole is /home/pi/IOTstack/volumes/pihole/etc-pihole/
python 3.7.3 is installed

The installation instructions are interpreted to use the following to install, based upon how this pihole is running, after performing a successful git clone.

The script starts.
Result is:

[2020-11-24 02:17] nicgord commented on #188
I am experiencing the same issue above.

[i] Pi-hole path exists
[i] Write access to ./etc-pihole verified
Traceback (most recent call last):
  File "whitelist/scripts/whitelist.py", line 141, in <module>
    if os.path.isfile(gravity_db_location) and os.path.getsize(gravity_db_location) > 0 and getPiholeVersion() >= 51:
  File "whitelist/scripts/whitelist.py", line 61, in getPiholeVersion
    pih

[2020-11-24 08:11] Couto commented on #187
Can confirm, I just ran the script, the domains were added, the `anudeepND/whitelist` group was created and assigned to each imported domain, but I can't apply it to any client (UI reports success, but the group is not actually applied)

[2020-11-24 08:22] Couto opened #189 "Uninstall script doesn't remove group"
Running the uninstall script with `sudo python3 uninstall.py` everything was reported as successful, however the group `anudeepND/whitelist` was not removed from PiHole, nor is it possible to remove it manually. Although the Web UI reports success after an attempt to remove it, if we refresh the browser, the group is still there.

While I haven't investigated, I have the feeling that this is somew

[2020-11-24 09:24] anudeepND commented on #189
@Couto Thanks for reporting the issue, I have reverted the PR for now. I will update the script as soon as possible.

[2020-11-24 09:26] anudeepND commented on #188
I have reverted the changes now but I don't have a docker setup to test it out, I will update the script after I finish testing on different configurations

[2020-11-24 10:57] Couto commented on #189
Thank you a lot for the quick response, and a special thank you for maintaining this project! <3

[2020-11-24 17:25] anudeepND commented on #189
**If anyone wants to remove the group, you can run this command in the terminal:**
[code]

[2020-11-24 17:28] anudeepND commented on #187
I have reverted the PR that created group while installing. **If anyone wants to remove the group, you can run this command in the terminal:**
[code]

[2020-11-25 18:35] mwoolweaver commented on #187
Sorry about this. I wasn't aware of

what @dschaper said is not stated in the documentation so my thinking was I could use a predetermined value for the `groupID` but it seems that's not the case so I will rework this so that it adds the group and then check for the ID afterwards.

[2020-11-25 19:41] dschaper commented on #187
The database schema is the documentation.

[2020-11-25 20:41] mwoolweaver commented on #187
correct

https://docs.pi-hole.net/database/gravity/groups/

but I don't see the below quote anywhere.

[2020-11-25 21:06] dschaper commented on #187
Then it should have come up when you tested your changes.

[2020-11-25 21:11] dschaper commented on #187
[code]

[2020-11-25 21:17] mwoolweaver commented on #187
again as i said previously that schema is not properly represented in the documentation

https://docs.pi-hole.net/database/gravity/groups/

[2020-11-25 21:19] dschaper commented on #187
That's why you check the schema and test your changes before assume things. Do you really want to argue the point with me?

[2020-11-25 21:23] mwoolweaver commented on #187
you said

and now you say

not much to argue with... the docs aren't accurate... end of discussion...

[2020-11-25 21:27] dschaper commented on #187
The database schema, that I just printed out for you, is the documentation. That's the definitive table of truth for any database. Something you check before you pump data blindly in to one. You also picked an integer that is over the maxint for a signed integer on a 32 bit platform.

We can only document so much and trust that people will look before they do things like blindly pump data in to a

[2020-11-25 21:31] mwoolweaver commented on #187
so did I...

[2020-12-08 18:36] hursey013 commented on #188
@anudeepND I _think_ the presence of the `--docker` flag needs to be checked in `getPiholeVersion()` so the command can be run with `docker exec`. So basically the same if/then that is found in `restartPihole()`: https://github.com/anudeepND/whitelist/pull/190/files#diff-0f183000aee364e40c320c278fd691b213cd8f60c33d3b3e498f9dbc6af6f22fL52-L57

So this line: https://github.com/anudeepND/whitelist/pu

[2020-12-19 19:06] dorminyk opened #192 "Unable to update whitelist"
I'm running Hoobs in with PiHole and I'm not sure if you're aware, but there is a slightly different configuration for Pihole while running hobbs... I'm new to Pi's and such so I'm just getting my feet wet...

I however attempted to run `sudo python3 whitelist.py` and the output that I'm getting is the following...

This script will download and add domains from the repo to whitelist.
All the doma

[2020-12-30 17:19] iteqla opened #193 "Wikipedia app"
Hi,
I noticed that the Wikipedia app on my Android phone was not diplaying the content correctly. After I added **meta.wikimedia.org** to my whitelist, everything works perfectly.
The entry seems to be legitimate but appears in various blocklists, so I thought I'd mentioned it, as it might be worth adding it to your whitelist.
Note: the only whitelisted entry should be meta.wikimedia.org. All the

[2020-12-30 17:21] iteqla commented on #185
Hi,
is there any update on this issue?

[2021-01-08 06:21] devashishkatoriya opened #194 "Amazon India App Domain"
aax-eu.amazon.in

This domain is required for Amazon India App to work properly. Otherwise it throws error: "Uh-oh something went wrong...".

I was having the trouble when using oisd.nl blocklist. After whitelisting, the problem was resolved. The oisd author also has whitelisted the same domain now.

Note: The Amazon website works with or without this domain. Only the android app seems to break.

[2021-01-08 15:20] SodaWithoutSparkles commented on #187
So how could I solve that? I want to revert the changes so that I could use the group management normally

[2021-01-08 18:48] mwoolweaver commented on #187
can you run

`sqlite3 /etc/pihole/gravity.db "SELECT * FROM 'group';"`

and post the output?

[2021-01-09 02:37] SodaWithoutSparkles commented on #187
[code]

Ran the command from readme.md to remove the group. Done already. The new groups that added after using whitelist.py was removed using the same command from readme.md but replaced the ID with the new group ID shown on the web GUI. Still unable to apply group changes.

[2021-01-09 03:36] SodaWithoutSparkles commented on #187
Okay, I solved that. First I did a backup from [the teleporter page](http://pi.hole/admin/settings.php?tab=teleporter). I then did a reconfigure(`pihole -r`), selecting the same settings as before. It should not change any of your settings. You may restore the backup, but I didn't need to. That solves it.

[2021-01-21 09:43] Forceflow opened #195 "Killing Floor 2 item server"
The multiplayer game [Killing Floor 2](https://store.steampowered.com/app/232090/Killing_Floor_2/) (content warning: zombies, blood) needs to contact an item server to figure out which cosmetic items players of the game have collected. This item server is hosted on  `analytics.tripwireinteractive.com`.

This domain needs to be whitelisted, otherwise players will get a "Failed To Reach Item Server"

[2021-01-26 18:07] fabianski7 commented on #185
try to report this to the list maintainers where the domains were found

[2021-01-29 17:56] iteqla commented on #185
I'm not sure I understand your comment. They are called **Anudeep's Lists** so I thought that Anudeep was the maintainer of the list and that here wass the place to report those issues...
Am I getting something wrong?

[2021-01-29 19:03] fabianski7 commented on #185
if you think the domains are legitimate, then you should report to the maintainer of the list they are on. That way more people will benefit from this improvement.

I use all the lists that are in your log and none of them are blocking these domains. I don't know why it would be necessary to add.

If you don't agree, do whatever shit you think is best.

[2021-01-30 19:21] iteqla commented on #185
First, there is no need for that language.
Second, what I think is best is exactly what I am doing, which is reporting legitimate website so that they can be added to the whitelist. The whole point of a whitelist is to prevent false positives, as opposed to go on every single blocklist. The reason is because the exact matches can be adjusted directly from the blocklist, as you suggest, but the exp

[2021-02-03 20:52] tteggelit opened #196 "files.slack.com"
I would add files.slack.com to your list of whitelisted hosts. It seems it made it on several other block lists (https://github.com/StevenBlack/hosts/issues/1518) and it likely breaks things for many users.

[2021-02-04 08:21] T81 opened #197 "Move cron to cron.d"
My pihole and whitelist installation is on an Ubuntu server. Not a PI distro. Checking CRON logs (sudo grep CRON /var/log/syslog) I see no entry for whitelist job. The cron is installed in the user's crontab but the script relies on sudo. sudo asks for password prompt so it doesn't work on my server. Should I move the cron to /etc/cron.d/whitelist in the global cron format and what is exactly the

[2021-02-08 20:20] FloatingMilkshake opened #198 "Windows Insider Program domain"
`insideruser.microsoft.com` must be whitelisted to enroll in the Windows Insider Program - if the domain is blocked you'll get an error when attempting to enroll, something like "we were unable to reach the service".

[2021-02-13 16:13] schuettecarsten opened #199 "Please add wrapper-api.sp-prod.net"
Please add *.sp-prod.net, the domain is used by Sourcepoint CMP Consent System and blocking it blocks lots of Android apps to work.

Reference:
https://news.ycombinator.com/item?id=22535303

[2021-02-21 00:03] rowbeartoes opened #200 "Please add t.paypal.com to whitelist"
I was attempting to pay for an online food order from a restaurant using menufy.com.  I was able to login to PayPal during the checkout process.  However, when I clicked on the "Order Now" button, I received an error message stating payment processor is unavailable.  I immediately checked Pihole.  It had blocked t.paypay.com, among many other domains during the checkout process.  I manually whitel

[2021-03-15 20:38] willkim1 opened #202 "Please add admin.microsoft.com to whitelist"
admin.microsoft.com is used to administer Microsoft 365 and Office 365. Please add or include wildcard microsoft.com.

[2021-03-18 03:46] jmrstrs1 opened #204 "Unable to apply latest whitelist entries using script"
Using Pi-hole v5.2.4 Web Interface v5.4 FTL v5.7

I followed the instructions to run the whitelist script, but everytime I run it, none of the 191 items are added to the database. What could be wrong? Ive tried running with sudo and without. Does my pihole whitelist need to be completely empty? See output below.

sudo python3 whitelist/scripts/whitelist.py

[i] Pi-hole path exists
[i] Write access

[2021-03-18 06:48] jmrstrs1 commented on #204
nvm.. sorry I just had to remove existing entries first. Working now. Thanks!

[2021-03-18 06:48] #204 closed

[2021-04-02 13:09] Marcopolox13 opened #205 "Disney + and TV now"
I have problems with Disney+ and TV now Germany. There are blocked domains, witch stops playing. I can't detain with exactly domains.

[2021-04-26 16:21] StefanL38 opened #206 "an email-whitelist functionality have a link?"
Hello,

while googling for Email-whitelist-functionalities I came across your GitHub Whitelist-repo.
I aplogise that this message isn't a "whitelist"-issue about **your** software.

What I'm looking for is a **super-hyper-radical** whitelist-functionality for email:

All and every email that is **not** listed on my whitelist shall be rejected full-automatic with an answering message like this

"Yo

[2021-05-05 01:19] brianp9906 opened #208 "kinesis.us-east-1.amazonaws.com"
Please white list kinesis.us-east-1.amazonaws.com or remove blocking from it.

For example Canvas (education software) uses it to save student answers.

[2021-05-05 21:19] Warraybe opened #209 "One Drive domain - 1drv.ms"
1drv.com is already in the list, however they also use 1drv.ms as a shorter domain for shared links.

[2021-05-23 17:34] tobor88 opened #210 "Adding Domain to Whitelist www.internetsociety.org"
www.internetsociety.org
Certain URIs at www.internetsociety.org were not viewable until I added the domain to the whitelist

[2021-06-04 16:24] Scraggarax opened #211 "Uninstall Script Fail - [Errno 2]"
Running the uninstall script `sudo python3 uninstall.py` does not work, resulting in the following error.
`python3: can't open file 'uninstall.py': [Errno 2] No such file or directory`

EDIT:  I was able to uninstall by running `sudo python3 /home/pi/whitelist/scripts/uninstall.py`

[2021-06-16 11:52] Valeriia-Volkova opened #212 "Please pop.com to whitelist"
Please add pop.com to the whitelist, its blocking prevents many users from accessing it.

[2021-06-23 17:52] iteqla commented on #193
legit website has been removed from the list

[2021-06-23 17:52] #193 closed

[2021-06-23 17:54] iteqla commented on #185
Legit websites have been removed from the list. Thanks.

[2021-06-23 17:54] #185 closed

[2021-08-17 15:15] Ashtronaughte opened #215 "Affirm app broken without api-cf.affirm.com"
The affirm app on my phone wouldn't load account details without whitelisting some of their domains:

api-cf.affirm.com
cdn1.affirm.com
cdn-assets.affirm.com

Tracker domain can still be blocked without issue:
tracker.affirm.com

[2021-09-02 09:45] 3xploiton3 opened #216 "tracker4.itzmx.com"
its good tracker for torrent

[2021-09-21 04:25] steakscience opened #217 "images.dwell.com"
This URL is necessary for images to load on Dwell.com

[2021-10-16 02:34] timkgh opened #220 "Are the allow lists still maintained?"
They haven't been updated in over a year, they could use some new entries, e.g.

`goto.target.com`  CNAME  for `goto-target-com.customtraffic.impactradius.com`

[2021-12-10 00:33] derekpurdy opened #223 "Epic Games friends list broken with latest Fortnite Season"
You need to whitelist epic games now to get the friends list to work in game, atleast with xbox.

Example for regex

(\.|^)epicgames\.com$

[2021-12-10 20:19] CutiePika opened #224 ""r20.rs6.net" is safe to whitelist"

[2021-12-19 05:57] anudeepND commented on #224
@CutiePika Can you please provide more information?

[2021-12-19 05:58] anudeepND commented on #223
@derekpurdy Do you have any specific domains to make friends list work?

[2021-12-19 06:05] anudeepND commented on #220
Sorry for the late reply everyone. The project is still alive and I will be actively maintaining it from now on.

`*.impactradius.com` is a tracker and will not be added to the list.
For more info:
https://whotracks.me/trackers/impact_radius.html
The domain is also blocked in https://github.com/StevenBlack/hosts, a well known host aggregator

[2021-12-19 06:07] anudeepND commented on #217
@steakscience can you provide me with more info? Which blocklists are you using? And where it's blocked

[2021-12-19 06:09] anudeepND commented on #216
@3xploiton3  can you provide me with more info? Which blocklists are you using? And where it's blocked

[2021-12-19 06:09] anudeepND commented on #215
@Ashtronaughte  can you provide me with more info? Which blocklists are you using? And where it's blocked

[2021-12-19 06:10] anudeepND commented on #212
@Valeriia-Volkova  can you provide me with more info? Which blocklists are you using? And where it's blocked

[2021-12-19 06:12] #211 closed

[2021-12-19 06:14] anudeepND commented on #210
@tobor88  can you provide me with more info? Which blocklists are you using? And where it's blocked

[2021-12-19 06:15] anudeepND commented on #209
@Warraybe Thanks for reporting, I will add it in the next update

[2021-12-19 06:15] anudeepND commented on #208
@brianp9906 can you provide me with more info? Which blocklists are you using? And where it's blocked

[2021-12-19 06:18] anudeepND commented on #206
@StefanL38 Sorry, I don't have much info about what you are looking for. Try posting this issue on reddit or Raspberry Pi Forum

[2021-12-19 06:18] #206 closed

[2021-12-19 06:20] anudeepND commented on #205
@Marcopolox13 can you provide me with more info so that I can reproduce the issue and can you post all the domains that are being blocked while using Disney+?

[2021-12-19 13:11] brianp9906 commented on #208
I was using https://github.com/anudeepND/blacklist which is what’s noted by NextDNS on their portal. I had too many problems with it so I stopped using it and it fixed my issue.
Unfortunately I don’t have more info since it was 9 months ago.

Anudeep's Blacklist
A list of adserving and tracking sites maintained by me. This list will be updated frequently.
github.com/anudeepND/blacklist

[2021-12-19 15:53] anudeepND commented on #208
@brianp9906 Thanks for the input. That list is maintained by me, I will remove it in the next update

[2021-12-19 19:26] timkgh commented on #220
I understand it is a tracker at some level, but it's used by big shopping sites such as target.com, walmart.com/jet.com to send links in shopping confirmation emails. The list is not useful if it breaks legit emails or shopping sites or legit referral links.

FWIW, these links are allowed by NextDNS for example:
https://github.com/nextdns/metadata/blob/master/privacy/affiliate-tracking-domains#L30

[2021-12-20 09:53] steakscience commented on #217
It is from Steven Black / Pi Hole default blocklist

[2021-12-20 15:18] anudeepND commented on #217
Thanks for the info @steakscience . I have opened an issue in StevenBlack. Let's wait for his feedback

[2021-12-20 15:29] #208 closed

[2021-12-20 15:32] anudeepND commented on #220
I can add it to the referral-list.txt, these domains are application / site specific issues.

[2021-12-20 15:34] #220 closed

[2021-12-21 07:31] Marcopolox13 commented on #205
Hey, thx for replay, but like I said before I can detain the blocks urls. At the moment I have no problems with these services.

[2021-12-22 05:55] #217 closed

[2021-12-22 05:55] #205 closed

[2021-12-28 20:32] mbrostrom opened #225 "Hulu app on Samsung smart TVs (Tizen OS)"
Hello, it seems like I and many others have been unable to log in or use the Hulu app on various Samsung smart TVs running the Tizen OS without whitelisting vortex.hulu.com.

Various other users have noted that they also needed to white list the following:
cws.conviva.com
cws-hulu.conviva.com

Hope this can help other users.

[2021-12-30 14:19] derekpurdy commented on #223
Unfortunately I didn't have any more information, I just came across that on reddit as the fix. My kids were desperate to fix the issue so I made it work.

[2022-01-01 09:12] ghost opened #226 "Remove the Commented dividers (#)"
It would be easy if I can just copy and paste this whole thing straight into the  whitelist box, I don't understand why there's comments, now I have to put in text editor and delete each one out. Do you know an easier method to get this list onto my whitelist?

[2022-01-06 07:44] anudeepND commented on #226
I assume you're talking about `optional-list.txt`. The reason it has comments is that not everyone is going to add all the domains in that file and comments provide a useful information about the domains and services that are affected.

For example, a domain is affecting National Express, UK while booking a journey. People outside the UK are not affected by this domain.

You can remove the comment

[2022-01-07 07:04] #226 closed, assigned to nobody

[2022-01-16 22:17] CrypticOne opened #227 "referral.sh throwing error messages"
PI-HOLE V5.8.1 FTL V5.13 WEB INTERFACE V5.10.1 running on a freshly installed on raspberry pi. Main script works fine. referral runs but throws error messages, no domains added to whitelist. Might be a pi hole bug.

pi@pihole:/opt/whitelist/scripts $ sudo ./referral.sh
  This file contains tracking and adserving domains. Run this script if you use specific service (like Slickdeals and Fatwallet et

[2022-01-17 03:53] amorshc opened #228 "Adding Disney+ to whitelist"
While using my PS4 or PS5, streaming Disney plus gives me an error code 83 after about 10 minutes of watching.

After much frustration, I confirmed that I needed to wildcard the following: cws.conviva.com for it to work without an error.

[2022-01-22 21:16] schancksb opened #229 "Question about Gravity Sync compatibility"
Hey, I was wondering if the whitelist functionality of this script would sync across different instances of pihole, since I have two piholes running for high availability, that are being synced with [Gravity Sync ](https://github.com/vmstan/gravity-sync). I runned the smart function of that syncing script after updating the whitelist of the main node, but no changes were detected (at least through

[2022-01-25 16:03] pavl21 opened #230 "Payback not working"
Payback, a bonus program, is not working with pihole (and your whitelist). Please add "(\.\|^)https://www\.awin1\.com/$" as Regex Whitelist.

[2022-02-16 07:11] PeterDaveHello opened #232 "Should hsort URL services like `bre.is` be whitelisted here?"
It's a short URL service(Homepage: https://bre.is/), like other short URL services, very common to be leveraged to spread some bad things behind, then been blocked by various blocklists.

For example:
- https://phishing.army/
- https://github.com/Ultimate-Hosts-Blacklist/
- https://github.com/mitchellkrogza/Phishing.Database (whitelisted now, see: https://github.com/mitchellkrogza/Phishing.Databas

[2022-02-28 20:53] bakerboy448 opened #233 "Add - js.media-lab.ai - for Imgur"
title

Ref

https://www.reddit.com/r/nextdns/comments/t3jmvk/imgur_loads_then_goes_blank_no_matter_which/?utm_source=share&utm_medium=ios_app&utm_name=iossmf

[2022-03-02 06:58] Peronia commented on #228
Since conviva uses a scheme like cws-[CONTINENT].conviva.com (like cws-eu.conviva.com for europe) I added this over the RegEx filter: `(\.|^)cws(\.|-.*)conviva\.com$`
As a hint: a normal entry for cws.conviva.com already exists, I disabled it (this regex covers it too), see: https://regex101.com/r/KTyNH0/1

[2022-03-02 07:14] Peronia opened #234 "Adding new entries to a group"
I looked under Group Management -> Domains at my Pi-hole and saw, that all entries from this script have assigned to no group.
So I think they don't trigger, they must in the group that is in use (or that the user wants to, when more than one exists).
There exist one default group (think is named default) under Group Management -> Groups.

Maybe is it usefull to specify one group as a parameter fo

[2022-03-04 00:11] ghost opened #235 "How to run python3 from within a docker container running on a Synology NAS?"
I have used Docker to install PiHole with its own IP-address on a Synology NAS. I have tried to install your whitelist through SSH but are facing problems. I have python3 but not inside the docker container. I have tried to find a solution on how to call it from within the container but with no success.

**SSH into docker**

Svettballe@Moln:~$ sudo docker ps -q
Password:
71772e7cb0d9
Svettballe@Mo

[2022-04-11 09:31] BeyondVertical opened #236 "Add storage.live.com for OneDrive"
I recently had the problem, that OneDrive was not working anymore (could not login).
I then checked the Pi log and found that storage.live.com domains were blocked. I added them to the whitelist (wildcard!) and OneDrive seems to work again now. Maybe you should add it to the list? Thanks for the list and the support! :)

[2022-04-12 19:38] ninagrosse commented on #236
I noticed that, too. My Pi-hole blocked this:

![image](https://user-images.githubusercontent.com/97219768/163038477-c4214d92-1a04-48db-9ecb-d6a13f253a5a.png)

OneDrive wouldn't work. Manual wildcard-whitelisting of `(\.|^)storage\.live\.com$` helped.

The `*.1drv.com` domain which is actually blocked is listed in this adlist.

[code]

There are a lot more `*.1drv.com` domains in this list. There'

[2022-04-13 09:24] BeyondVertical commented on #236
Yes, I used the same whitelisting and I have the same adlist.

[2022-04-21 03:20] redbeardj commented on #235
Did you ever figure this out? I'm having the same issue.

[2022-04-21 08:52] qquppsala commented on #235
I'm having the same issue.

[2022-04-22 02:20] redbeardj commented on #235
Anyone figure out a solution? I've tried a couple discord servers and noone seems to have an answer. It's either something extremely simple or it just doesn't work on synology for some reason.

[2022-04-22 23:11] ghost commented on #235
No I did not figure this out, running PiHole without Whitelist until someone tells me how to.

[2022-05-07 14:53] TheLidlMan opened #237 "eu-auth2.samsungosp.com - Samsung Authentication Error on Samsung Devices"
eu-auth2.samsungosp.com - I whitelisted this personally and fixed all my issues

[2022-07-03 15:44] JuliusBairaktaris opened #239 "Whitelist cndsf.ad.uni-hamburg.de. (University of Hamburg)"
The Domain cndsf.ad.uni-hamburg.de, which often gets blocked by common regex filtering bc of the "ad" should be whitelisted since it is for the CampusNet login and not for advertising purposes as the "ad" would suggest.

[2022-07-03 15:48] JuliusBairaktaris opened #240 "Whitelist sp-ad-fa.audio.tidal.com"
The audio streaming service Tidal uses the domain sp-ad-fa.audio.tidal.com to serve functionality content. Unfortunately, because of the "ad" it gets blocked by common regex filters, so the domain should be included in the whitelist list.

[2022-07-12 02:59] bonelifer opened #241 "Thanks"
I'm using the Docker install (without python3) install and it worked great.

[2022-07-12 02:59] #241 closed, assigned to nobody

[2022-07-16 21:23] wassereimer86 opened #242 "Docker installation (without Python3 support) - Instructions wrong"
Hi there, the instructions say:

[code]

So i should run a python3 command in case i don't have python3? There is only one .sh file for the referral-sites. How do i install the whitelist?

[2022-07-24 22:06] ocelotsloth opened #243 "Adobe Creative Cloud Desktop Application (prod-rel-ffc-ccm.oobesaas.adobe.com)"
When Adobe's Creative Cloud Desktop application tries to launch after first install it needs to be able to access `prod-rel-ffc-ccm.oobesaas.adobe.com`.

Example logs with this error:

[code]

I tested adding this domain manually and was able to get the application to launch.

[2022-07-24 22:41] ocelotsloth commented on #243
Did some digging to figure out where this was being blocked and it's this list:

https://github.com/EnergizedProtection/block

Which in turn is getting it from here: https://github.com/badmojr/1Hosts/blob/master/Pro/hosts.txt

I'm opening issues on both of those repositories to see if I can get the domain removed there.

[2022-07-30 02:49] ocelotsloth commented on #243
https://github.com/badmojr/1Hosts/issues/615
https://github.com/badmojr/1Hosts/commit/a112b5cb9aabe78a160ad44b6a2ac1d949b62f0d

Addressed in the actual list.

[2022-07-30 02:49] #243 closed, assigned to nobody

[2022-08-20 22:33] yurikoz3 opened #244 "Whitelist for CVS Account Management site"
Hello!

Please whitelist the following 2 domains for CVS Account Management site (https://www.cvs.com/account/account-management.jsp)

1. sb.monetate.net
2. tags.tiqcdn.com

CVS Account management site won't load unless you whitelist these 2 domains.

Thank you so much!

Cedrik

[2022-09-06 16:24] tordenflesk opened #245 "chtbl.com | Required to download podcasts"
Example:
https://feeds.simplecast.com/dHoohVNH

[2022-09-08 13:59] SireSalty opened #246 "Re-adds 95 domains at every run that is already in the pihole"
Hello, not using docker just the python script.    The script appears to work but it seems to not be extracting gravity properly to check that the items are previously added, as it seems to re-add every time its run.  Raspberry pi 3, raspbian bullseye 9-6-22 update and pihole PI-HOLE [V5.12](https://github.com/pi-hole/pi-hole/releases/v5.12) FTL [V5.17](https://github.com/pi-hole/FTL/releases/v5.1

[2022-09-08 15:24] Technetium1 commented on #246
Have you made any modifications to anything?

[2022-09-08 15:31] SireSalty commented on #246
no, this is a fresh pi install and the only thing I did was import the teleporter from the old one.

[2022-09-10 10:47] apedroheringer opened #247 "Globoplay (Brazil)"
I needed to whitelist affiliates.video.globo.com, imasdk.googleapis.com, pagead2.googlesyndication.com
how to add in the list?

[2022-09-18 11:31] SoftwareRat opened #248 "[Whitelist] pbs.twimg.com"
TL;DR: Images from Twitter are blocked with this

[2022-11-09 13:51] #223 closed

[2022-11-09 23:55] michealespinola opened #249 "Whitelist: web-assets.stylitics.com"
Required for Kohls.com product catalog images

Example URL: <https://www.kohls.com/product/prd-5473290/mr-coffee-single-serve-iced-hot-coffee-maker.jsp>

[2022-11-09 23:56] michealespinola opened #250 "Whitelist: device-api.urbanairship.com for T-Mobile Tuesdays app"
This is required for 'T-Mobile Tuesdays' in-app offer messages (Messages tab will no show messages unless this is whitelisted)

(unable to supply sample URL because this is an Android app)

[2022-11-09 23:56] michealespinola opened #251 "Whitelist: newslink.reuters.com for Reuters app"
Required link forwarder/referrer URL to link to articles

(unable to supply sample URL because this is an Android app)

[2022-11-09 23:56] michealespinola opened #252 "Whitelist: tag.dickssportinggoods.com"
Dicks Sporting Goods website catalog will not show product listings without this whitelisted

Example URL: <https://www.dickssportinggoods.com/search/SearchDisplay?searchTerm=nike>

[2022-11-10 18:37] michealespinola commented on #235
You don't do any of this from inside the docker container. Your pihole should have container paths that are mounted to the local volume. These paths contain the databases that the whitelist adds itself into. You run the python command natively from your Synology terminal.

Here's an example of how I run the script on my system:

[code]

Its as easy as that. This is possible because I created my pi